/*******************************************************************************
Template(s): Battle Royale - Navigation tabs
Author(s): Elysienna
*******************************************************************************/

.navigation-tabs {
	@list-item: e(".navigation-tabs__list-item");
	display: flex;
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
	overflow-x: auto;

	@media ( min-width: 1320px ) {
		padding: 0.75rem 0;
	}

	&.is--hidden {
		visibility: hidden;
		padding: 0;
		height: 0;
	}

	ul&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__list-item {
		margin: 0;
		flex: 1 0 auto;
		padding: 0.75rem 0.5rem;
		border-radius: 0.25rem;
		font-weight: bold;
		font-size: 0.875rem;
		transition: background-color 0.2s linear;
		cursor: pointer;
		border: 0.0625rem solid rgba( 0, 0, 0, 0.2 );

		@media ( max-width: 767px ) {
			font-size: 0.75rem;
		}

		.theme--dark & {
			border-color: var( --clr-secondary-16 );
		}

		&:not( :first-child ) {
			margin-left: 0.5rem;
		}

		&.tab--active {
			background-color: var( --clr-wiki-theme-primary, var( --clr-wiki-primary-container ) );
			color: #ffffff;
		}

		@media ( hover: hover ) {
			&:not( .tab--active ):hover {
				background-color: #f5f5f5;

				.theme--dark & {
					background-color: var( --clr-secondary-9 );
				}
			}
		}

		&:focus {
			outline: 0;
		}

		&:focus-visible {
			outline: 0.125rem solid #212529;
		}

		&:not( .tab--active ) {
			& .icon--green {
				color: #1d7c1d;
			}

			& .icon--red {
				color: #b81414;
			}
		}

		&-icon {
			margin-right: 0.5rem;
		}
	}
}
