/*******************************************************************************
Template(s): Battle Royale - Panel
Author(s): Elysienna
*******************************************************************************/

.panel-tabs {
	ul&__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-x: auto;
	}

	&__list-item {
		font-size: 0.875rem;
    	background-color: #F5F5F5;
    	padding: 0 1rem;
		border-radius: 0.25rem 0.25rem 0 0;
		margin: 0;
		font-weight: 700;
    	min-height: 3.125rem;
    	display: flex;
    	align-items: center;
		color: var(--clr-secondary-25, #404040);
		flex: 0 0 auto;
		cursor: pointer;

		&.is--active {
			background-color: #ffffff;
			color: var(--clr-secondary-16, #282828);
		}

		&:not( :first-child) {
			margin-left: 0.25rem;
		}
	}

	&__list-icon {
		margin-right: 0.5rem;

		&.icon--green {
			color: var( --clr-semantic-positive-30, #1D7C1D );
		}
	}

	&__title {
		font-size: inherit;
		font-weight: inherit;
		margin: 0;
    	padding: 0;
		color: inherit;
	}
}

.panel-content {
	&.is--hidden {
		display: none;
	}

	&__container {
		//border-bottom: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
	}

	&__button {
		height: 3.5rem;
		color: var(--clr-secondary-16, #282828);
		font-size: 0.9375rem;
		margin: 0;
		padding: 0 0.5rem;
		display: flex;
		align-items: center;
		border-top: 0.0625rem solid rgba(0, 0, 0, 0.08);
		border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.08);
	}

	ul&__game-schedule {
		list-style: none;
		margin: 0;
		padding: 0;

		>li {
			margin: 0;
			display: flex;
			align-items: center;
		}

		&__icon {
			margin-right: 0.5rem;
			font-size: 0.75rem;
			color: var(--clr-semantic-silver-30, #3C585D);

			&.icon--green {
				color: var(--clr-semantic-positive-30, #1D7C1D);
			}

			&.icon--red {
				color: var(--clr-semantic-negative-30, #B81414);
			}
		}

		&__title {
			font-weight: 700;
			margin-right: 0.25rem;
		}

		&__countdown {
			padding: 0;
			font-size: unset;
		}
	}

	&__points-distribution {
		list-style: none;
		margin: 0;
		padding: 0;

		&__list-item {
			margin: 0 0 0.125rem 0;
			display: flex;
			min-height: 1.5rem;
			align-items: center;
		}

		&__icon {
			width: 1.5rem;
			font-size: 0.875rem;

			&.icon--gold {
				color: var(--clr-semantic-gold-40, #CCAB00);
			}

			&.icon--silver {
				color: var(--clr-semantic-silver-40, #557177);
			}

			&.icon--bronze {
				color: var(--clr-semantic-bronze-40, #80704C);
			}

			&.icon--copper {
				color: var(--clr-semantic-copper-40, #CC7800);
			}
		}

		&__title {
			font-weight: 700;
			min-width: 5rem;
			padding-left: 0.5rem;
		}
	}
}
