/*******************************************************************************
Template(s): Battle Royale - Table
Author(s): Elysienna
*******************************************************************************/

.panel-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
	position: relative;
	font-size: 0.875rem;

	&__swipe-container {
		width: 100%;
		z-index: 1;
		position: absolute;
		display: inherit;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
	}

	&__swipe-hint {
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100%;
		width: 1rem;
		pointer-events: none;
		color: var( --clr-wiki-on-primary );
		display: flex;
		align-items: center;
		justify-content: center;

		&.swipe-hint--left {
			left: 0;
			background: linear-gradient( 90deg, rgba( 0, 0, 0, 0.1 ), transparent );
		}

		&.swipe-hint--right {
			right: 0;
			background: linear-gradient( 90deg, transparent, rgba( 0, 0, 0, 0.1 ) );
		}
	}

	&__sort {
		margin-left: 0.25rem;
		color: var( --clr-wiki-theme-primary, var( --clr-wiki-on-primary ) );
		cursor: pointer;
		width: 1.25rem;
		text-align: center;

		.theme--dark & {
			color: var( --clr-on-background );
		}
	}

	&__navigate {
		position: absolute;
		padding: 12px;
		height: 100%;
		background-color: rgba( 245, 245, 245, 0.9 );
		border: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
		display: flex;
		align-items: center;
		justify-content: center;
		color: var( --clr-wiki-on-primary );
		box-shadow: -0.25rem 0 0.75rem 0 rgba( 0, 0, 0, 0.04 );
		cursor: pointer;

		.theme--dark & {
			border: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
			background-color: rgba( 24, 24, 24, 0.9 );
			color: #ffffff;
		}

		&.navigate--left {
			inset: 0 auto 0 0;
		}

		&.navigate--right {
			inset: 0 0 0 auto;
		}
	}

	&__row {
		display: flex;
		flex: 1;

		/* Modifiers */
		&.row {
			&--header {
				font-weight: bold;
				background-color: var( --table-header-variant-background-color, #f5f5f5 );
				font-size: 0.8125rem;

				& .panel-table__cell__game-placement {
					background-color: inherit;
				}

				& .cell--game-container {
					align-items: flex-start;
					height: 100%;
				}

				& .cell--game {
					height: 100%;
				}

				& .cell--game-container-nav-holder {
					min-width: 15.875rem;
				}

				& .cell--rank,
				& .cell--team,
				& .cell--match-points,
				& .cell--total-points {
					.panel-table__cell-icon {
						@media ( max-width: 767px ) {
							display: none;
						}
					}
				}
			}

			&--navigate {
				position: relative;
			}

			&--green {
				background-color: #fafffa;
			}

			&--red {
				background-color: #fffafa;
			}
		}
	}

	&__cell {
		border-right: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
		border-bottom: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
		padding: 0.5rem;
		display: flex;
		align-items: center;
		flex: 0 0 auto;

		.theme--dark & {
			border-right: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
			border-bottom: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
		}

		.panel-table__row.row--header & {
			align-items: flex-end;
			background-color: var( --table-header-variant-background-color, #f5f5f5 );
		}

		&-icon {
			margin-right: 0.5rem;
		}

		&-grouped {
			display: flex;
			align-items: center;
			justify-content: inherit;
			flex-basis: 100%;
		}

		&-logo {
			max-height: 1.5rem;
			max-width: 1.5rem;
			height: auto;
			width: auto;
			margin-right: 0.75rem;
		}

		&__game {
			&-head {
				flex: 1 1 100%;
				padding: 0.75rem 1rem;
				text-align: right;
				align-self: flex-start;
			}

			&-details {
				display: flex;
				flex: 1 1 100%;
				border-top: 0.0625rem solid rgba( 0, 0, 0, 0.08 );

				.theme--dark & {
					border-top: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
				}
			}

			&-title {
				margin: 0;
				min-height: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			&-date {
				font-weight: normal;
				font-style: italic;
				margin: 0;
				min-height: 1.5rem;
				justify-content: right;
				align-items: center;
				display: none;
			}

			&-placement {
				flex: 1 0 calc( 50% - 0.0625rem );
				border-right: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem 0;
				background-color: var( --table-striped-background-color, #fafafa );

				.theme--dark & {
					border-right: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
				}
			}

			&-kills {
				flex: 1 0 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem 0;
			}

			&-total-points {
				flex: 1 0 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem 0;
				background-color: var( --table-background-color, #fafafa );
			}
		}

		&-game {
			&.cell--game {
				flex-basis: 9.25rem;
				padding: 0;
				flex-wrap: wrap;

				&-details {
					width: 100%;
					flex: 1 1 100%;
					border-bottom: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
					padding: 0.75rem 1rem;
					text-align: right;

					.theme--dark & {
						border-bottom: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
					}

					&-title {
						margin: 0;
					}

					&-date {
						font-weight: normal;
						font-style: italic;
						margin: 0;
						min-height: 1.5rem;
						display: flex;
						justify-content: right;
						align-items: center;
					}
				}

				&-placement {
					flex: 1 0 calc( 50% - 0.0625rem );
					border-right: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.75rem 0;
					background-color: var( --table-background-color, #fafafa );

					.theme--dark & {
						border-right: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
					}
				}

				&-kills {
					flex: 1 0 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.75rem 0;
					background-color: #ffffff;
				}
			}
		}

		/* Modifier title */
		&.title {
			&--advance {
				color: #145214;
			}

			&--out {
				color: #5c0a0a;
			}
		}

		/* Modifier - icons */
		.icon {
			&--gold {
				color: #ccab00;
			}

			&--silver {
				color: #557177;
			}

			&--bronze {
				color: #80704c;
			}

			&--copper {
				color: #cc7800;
			}

			&--green {
				color: #1d7c1d;
			}

			&--red {
				color: #b81414;
			}
		}
	}

	/* Modifier - cell */
	.cell {
		&--gold {
			background-color: #fff7d6;

			.theme--dark & {
				background-color: var( --clr-semantic-gold-20, #fff7d6 );
			}
		}

		&--silver {
			background-color: #e7edee;

			.theme--dark & {
				background-color: var( --clr-secondary-25, #fff7d6 );
			}
		}

		&--copper {
			background-color: #ffefd6;

			.theme--dark & {
				background-color: var( --clr-semantic-copper-20, #fff7d6 );
			}
		}

		&--bronze {
			background-color: #efeee6;

			.theme--dark & {
				background-color: var( --clr-semantic-bronze-20, #efeee6 );
			}
		}

		&--game {
			flex-basis: 9.25rem;
			padding: 0;
			flex-wrap: wrap;
			align-items: stretch;
			border-left: 0.0625rem solid rgba( 0, 0, 0, 0.08 );
			border-right-width: 0.0625rem;

			.theme--dark & {
				border-left: 0.0625rem solid rgba( 255, 255, 255, 0.08 );
			}
		}

		&--status {
			padding: 0;
			font-weight: bold;
			flex-basis: 2rem;
			flex-grow: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&--green {
			background-color: #27a527;
			color: #ffffff;
		}

		&--red {
			background-color: #b81414;
			color: #ffffff;
		}

		&--rank {
			flex-basis: 6.375rem;

			@media ( max-width: 767px ) {
				flex-basis: 4.6875rem;
			}
		}

		&--team {
			flex-basis: 15rem;
			flex-grow: 0;
			overflow: hidden;

			@media ( max-width: 767px ) {
				flex-basis: 8.375rem;
			}
		}

		&--total-points {
			flex-basis: 7.25rem;
			flex-grow: 0;
			justify-content: flex-end;
			font-weight: bold;

			@media ( max-width: 767px ) {
				flex-basis: 4.25rem;
			}
		}

		&--match-points {
			flex-basis: 7.25rem;
			flex-grow: 0;

			@media ( max-width: 767px ) {
				flex-basis: 4.6875rem;
			}
		}

		&--placements {
			justify-content: flex-end;
			flex-basis: 12rem;

			@media ( max-width: 767px ) {
				flex-basis: 9.375rem;
			}
		}

		&--kills {
			justify-content: flex-end;
			flex-basis: 12rem;

			@media ( max-width: 767px ) {
				flex-basis: 7rem;
			}
		}

		&--button {
			flex: 0 0 3rem;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&--title {
			flex: 1 0 auto;
			justify-content: center;
		}

		&--game-container-nav-holder {
			padding: 0;
			position: relative;
			flex: 1;
			border: 0;

			@media ( min-width: 768px ) {
				overflow: hidden;
			}
		}

		&--game-container {
			position: relative;
			padding: 0;
			flex: 1;
			border: 0;
			align-items: unset;
			min-width: 15.875rem;

			@media ( min-width: 768px ) {
				overflow: hidden;
				scroll-behavior: smooth;
			}
		}
	}

	.match-countdown-block {
		padding: 0;
		font-size: unset;
		font-weight: normal;
		font-style: italic;
		text-align: right;
		margin-top: 0.25rem;
	}
}
