.mw-search-profile-tabs {
    background-color: var( --clr-surface-1 );
    color: var( --clr-on-surface );

    .theme--light & {
        border: 0.0625rem solid var( --clr-on-surface-light-primary-8 );
    }

    .theme--dark & {
        border: 0.0625rem solid var( --clr-on-surface-dark-primary-8 );
    }
}

.search-types {
    padding-left: 0.5rem;
}

.search-types a {
    padding: 0.5rem;
}

.search-types .current a,
.search-types .current a:hover,
.search-types .current a:visited {
    color: var( --clr-on-surface );
}

.mw-search-form-wrapper .oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input .oo-ui-widget.oo-ui-textInputWidget > .oo-ui-inputWidget-input {
    min-height: 2.5rem;
    border-radius: 6.25rem 0 0 6.25rem;

    @media ( hover: hover ) {
        &:hover {
            border-color: var( --clr-primary );
        }
    }

    &:focus {
        box-shadow: inset 0 0 0 0.0625rem var( --clr-primary );
    }
}

.mw-search-form-wrapper .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
    border-radius: 0 6.25rem 6.25rem 0;
}

.mw-search-form-wrapper .oo-ui-iconElement-icon.oo-ui-icon-search {
    left: 0.75rem;
}

.mw-search-form-wrapper .oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-textInputWidget-type-search > .oo-ui-indicatorElement-indicator.oo-ui-indicator-clear {
    transform: translateY( -50% );
    top: 50%;
}

.theme--dark .mw-search-form-wrapper .oo-ui-iconElement-icon {
    filter: invert( 100% ) sepia( 100% ) saturate( 0% ) hue-rotate( 47deg ) brightness( 103% );
}

#mw-searchoptions {
    background-color: var( --clr-surface-2 );
    padding: 1rem 1rem 1rem 1rem;

    .theme--light & {
        border: 0.0625rem solid var( --clr-on-surface-light-primary-8 );
    }

    .theme--dark & {
        border: 0.0625rem solid var( --clr-on-surface-dark-primary-8 );
    }

    .divider {
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;

        .theme--light & {
            border-bottom: 0.0625rem solid var( --clr-on-surface-light-primary-8 );
        }

        .theme--dark & {
            border-bottom: 0.0625rem solid var( --clr-on-surface-dark-primary-8 );
        }
    }
}

body {
    .searchResultImage {
        .searchResultImage-thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 4.625rem;
            height: auto;
            margin-right: 1rem;
            padding: 0;

            img {
                display: block;
                min-width: 4.625rem;
                /* stylelint-disable-next-line declaration-no-important */
                height: auto !important; // needed to override !important from existing rules
                object-fit: contain;
            }
        }
    }
}
