.flaggedrevs_reviewform {
    background-color: transparent;

    @include media-breakpoint-down( md ) {
        #mw-fr-confirmreview,
        span {
            white-space: break-spaces;
        }

        select,
        input[ type='text' ],
        input:not( [ type ] ) {
            width: 100%;
        }
    }
}

body .flaggedrevs_editnotice {
    background-color: var( --clr-surface-3 );
    border: 0;
    display: block;
    border-radius: 0.625rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

body .flaggedrevs-pending {
    background-color: var( --clr-tertiary-container );
    color: var( --clr-on-tertiary-container );

    > a,
    > a:hover,
    > a:visited {
        color: var( --clr-on-tertiary-container );
    }
}

body .flaggedrevs_preview {
    background-color: var( --clr-surface-3 );
    border: 0.0625rem solid var( --clr-border );
    color: var( --clr-on-surface );
    padding: 0.5rem;
}

body .flaggedrevs_short {
    background-color: var( --clr-surface-3 );
    border: 0.0625rem solid var( --clr-border );
    color: var( --clr-on-surface );
}

body .flaggedrevs_short_details {
    background-color: var( --clr-surface-4 );
    border: 0.0625rem solid var( --clr-border );
    color: var( --clr-on-surface );
    z-index: 1;
}

body .flaggedrevs-unreviewed {
    color: var( --clr-on-background );

    .theme--light & {
        background-color: var( --clr-sun-90 );
    }

    .theme--dark & {
        background-color: var( --clr-sun-90 );
    }
}

body .flaggedrevs-icon {
    .theme--light & {
        filter: brightness( 0 ) saturate( 100% ) invert( 28% ) sepia( 77% ) saturate( 1826% ) hue-rotate( 188deg ) brightness( 80% ) contrast( 90% );
    }

    .theme--dark & {
        filter: brightness( 0 ) saturate( 100% ) invert( 72% ) sepia( 31% ) saturate( 628% ) hue-rotate( 185deg ) brightness( 101% ) contrast( 102% );
    }
}

#pagehistory li.selected {
    background-color: var( --clr-surface );
    color: var( --clr-on-surface );
    outline: 0.0625rem dashed var( --clr-on-surface-variant );
}

body .flaggedrevs-color-0 {
    background-color: var( --clr-surface-1 );
}

.flaggedrevs-color-1 {
    background-color: var( --clr-surface-1 );
}

.mw-plusminus-null {
    color: var( --clr-on-surface );
}

.mw-plusminus-pos {
    color: var( --clr-confirmed );
}

.mw-plusminus-neg {
    color: var( --clr-error );
}

.mw-changeslist-links {
    margin-right: 0.5rem;
}

#mw-history-compare {
    margin: 1rem 0;
}

.mw-history-compareselectedversions {
    margin-bottom: 1rem;
}

.updatedmarker {
    color: var( --clr-on-background );

    .theme--light & {
        background-color: var( --clr-semantic-positive-80 );
    }

    .theme--dark & {
        background-color: var( --clr-semantic-positive-30 );
    }
}