body .oo-ui-textInputWidget .oo-ui-inputWidget-input {
    background-color: var( --clr-surface );
    color: var( --clr-on-surface );
    border-radius: 0.25rem;

    .theme--light & {
        border-color: var( --clr-secondary-44 );
    }

    .theme--dark & {
        border-color: var( --clr-secondary-70 );
    }
}

body .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input::placeholder {
    color: var( --clr-on-surface );
    opacity: 1;
}

body .oo-ui-textInputWidget.oo-ui-widget-enabled:hover .oo-ui-inputWidget-input,
body .oo-ui-textInputWidget.oo-ui-widget-enabled:hover .oo-ui-inputWidget-input:focus {
    border-color: var( --clr-primary );
}

body .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
    border-color: var( --clr-primary );
    box-shadow: inset 0 0 0 0.0625rem var( --clr-primary );
}

body .oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input .oo-ui-widget.oo-ui-textInputWidget > .oo-ui-inputWidget-input {
    border-radius: 0.25rem;

    .theme--light & {
        border-color: var( --clr-secondary-44 );
    }

    .theme--dark & {
        border-color: var( --clr-secondary-70 );
    }
}

body .oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input {
    background-color: var( --clr-surface-2 );
    text-shadow: none;
}