body {
    .oo-ui-tagMultiselectWidget-content .oo-ui-tagMultiselectWidget-group .oo-ui-inputWidget-input {
        color: var( --clr-on-surface );
    }

    .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled {
        background-color: var( --clr-surface );
        color: var( --clr-on-surface );
    }

    .oo-ui-tagMultiselectWidget-handle {
        border-radius: 0.25rem;
    }

    .oo-ui-tagMultiselectWidget-group .oo-ui-widget.oo-ui-tagItemWidget {
        background-color: var( --clr-surface-3 );
        color: var( --clr-on-surface );
    }

    .oo-ui-pendingElement-pending {
        background-color: var( --clr-surface-4 );
        background-image: linear-gradient( 135deg, var( --clr-surface ) 25%, transparent 25%, transparent 50%, var( --clr-surface ) 50%, var( --clr-surface ) 75%, transparent 75%, transparent );
    }

    .oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-buttonElement-button:hover {
        background: none;
    }

    .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected,
    .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
    .oo-ui-menuOptionWidget.oo-ui-optionWidget-pressed.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted {
        background-color: var( --clr-surface-4 );
        color: var( --clr-on-surface );
    }
}
