body .oo-ui-checkboxInputWidget [ type="checkbox" ] + span {
	background-color: transparent;

	.theme--light & {
		border-color: var( --clr-secondary-44 );
	}

	.theme--dark & {
		border-color: var( --clr-secondary-70 );
	}
}

body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:hover + span {
	border-color: var( --clr-primary-44 );
}

body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:focus + span {
	border-color: var( --clr-primary-44 );
	box-shadow: inset 0 0 0 0.0625rem var( --clr-primary-44 );
}

body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:checked + span,
body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:indeterminate + span {
	background-color: var( --clr-primary-44 );
	border-color: var( --clr-primary-44 );
}

body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:checked:hover + span,
body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:indeterminate:hover + span {
	background-color: var( --clr-primary-44 );
	border-color: var( --clr-primary-44 );
}

body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:checked:focus + span,
body .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [ type="checkbox" ]:indeterminate:focus + span {
	background-color: var( --clr-primary-44 );
	border-color: var( --clr-primary-44 );
	box-shadow: inset 0 0 0 0.0625rem var( --clr-primary-44 ), inset 0 0 0 0.125rem var( --clr-primary-44 );
}
