body .oo-ui-popupWidget-popup {
	background-color: var( --clr-surface-2 );
	color: var( --clr-on-surface );

	.theme--light & {
		border: 0.0625rem solid var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		border: 0.0625rem solid var( --clr-on-surface-dark-primary-8 );
	}
}

body .oo-ui-popupWidget-head > .oo-ui-iconElement-icon {
	.theme--light & {
		filter: brightness( 0 ) saturate( 100% ) invert( 28% ) sepia( 77% ) saturate( 1826% ) hue-rotate( 188deg ) brightness( 80% ) contrast( 90% );
	}

	.theme--dark & {
		filter: brightness( 0 ) saturate( 100% ) invert( 72% ) sepia( 31% ) saturate( 628% ) hue-rotate( 185deg ) brightness( 101% ) contrast( 102% );
	}
}

body .mw-rcfilters-ui-tagItemWidget-popup-content {
	color: var( --clr-on-surface );
}

body .oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor::before {
	.theme--light & {
		border-top-color: var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		border-top-color: var( --clr-on-surface-dark-primary-8 );
	}
}

body .oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor::after {
	border-top-color: var( --clr-surface-2 );
}
