/**
 * Button primary
 */

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	border-radius: 0.5rem;
	background-color: var( --clr-primary-44 );
	border-color: var( --clr-primary-44 );
	color: var( --clr-primary-100 );
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover {
	background-color: var( --clr-primary-30 );
	border-color: var( --clr-primary-30 );
	color: var( --clr-primary-100 );
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus {
	background-color: var( --clr-primary-44 );
	box-shadow: inset 0 0 0 0.125rem var( --clr-primary-80 );
	color: var( --clr-primary-100 );
}

/**
 * Button destructive (cancel)
 */

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
	background-color: transparent;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	padding: 0 1.25rem;
	border-width: 0.0625rem;
	min-height: 2.5rem;
	display: flex;
	align-items: center;

	.theme--light & {
		color: var( --clr-semantic-negative-40 );
		border-color: var( --clr-semantic-negative-40 );
	}

	.theme--dark & {
		color: var( --clr-semantic-negative-90 );
		border-color: var( --clr-semantic-negative-90 );
	}

	&:hover {
		.theme--light & {
			background-color: var( --clr-semantic-negative-96 );
			color: var( --clr-semantic-negative-40 );
			border-color: var( --clr-semantic-negative-40 );
		}

		.theme--dark & {
			background-color: var( --clr-on-surface-dark-primary-4 );
			color: var( --clr-semantic-negative-90 );
			border-color: var( --clr-semantic-negative-90 );
		}
	}

	&:focus {
		.theme--light & {
			border-color: var( --clr-semantic-negative-40 );
			box-shadow: inset 0 0 0 0.1875rem var( --clr-semantic-negative-40 );
		}

		.theme--dark & {
			border-color: var( --clr-semantic-negative-90 );
			box-shadow: inset 0 0 0 0.1875rem var( --clr-semantic-negative-90 );
		}
	}
}

/**
 * Button default
 */

body .oo-ui-processDialog .oo-ui-actionWidget > a.oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
	border-radius: 0.5rem;
	font-size: 0.875rem;
	padding: 0 1.25rem;
	border: 0.0625rem solid;
	display: flex;
	align-items: center;
	min-height: 2.5rem;

	.theme--light & {
		border-color: var( --clr-secondary-80 );
		color: var( --clr-secondary-25 );
	}

	.theme--dark & {
		border-color: var( --clr-on-surface-dark-primary-40 );
		color: var( --clr-secondary-90 );
	}
}

body .oo-ui-buttonElement-framed.oo-ui-labelElement > .oo-ui-buttonElement-button {
	padding-top: 0;
	padding-bottom: 0;
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > a.oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	background-color: transparent;
	border-radius: 0.5rem;

	.theme--light & {
		border-color: var( --clr-secondary-80 );
		color: var( --clr-secondary-25 );
	}

	.theme--dark & {
		border-color: var( --clr-on-surface-dark-primary-40 );
		color: var( --clr-secondary-90 );
	}
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > a.oo-ui-buttonElement-button:hover,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:hover {
	text-decoration: none;

	.theme--light & {
		background-color: var( --clr-on-surface-light-primary-4 );
		border-color: var( --clr-secondary-80 );
		color: var( --clr-secondary-25 );
	}

	.theme--dark & {
		background-color: var( --clr-on-surface-dark-primary-4 );
		border-color: var( --clr-on-surface-dark-primary-40 );
		color: var( --clr-secondary-90 );
	}
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus {
	background-color: transparent;

	.theme--light & {
		border-color: var( --clr-primary-80 );
		box-shadow: inset 0 0 0 0.1875rem var( --clr-primary-80 );
		color: var( --clr-primary-44 );
	}

	.theme--dark & {
		border-color: var( --clr-primary-80 );
		box-shadow: inset 0 0 0 0.1875rem var( --clr-primary-80 );
		color: var( --clr-secondary-90 );
	}
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active:focus,
body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button {
	.theme--light & {
		background-color: var( --clr-on-surface-light-primary-8 );
		border-color: var( --clr-secondary-80 );
		color: var( --clr-secondary-25 );
	}

	.theme--dark & {
		background-color: var( --clr-on-surface-dark-primary-8 );
		border-color: var( --clr-on-surface-dark-primary-40 );
		color: var( --clr-secondary-90 );
	}
}

body .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
	background-color: var( --clr-primary-44 );
	border-color: var( --clr-primary-44 );
	color: var( --clr-primary-100 );
}

/**
 Button disabled
 */

body span.oo-ui-buttonElement-framed.oo-ui-widget-disabled > a.oo-ui-buttonElement-button,
body .oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button {
	opacity: 0.4;
	background-color: transparent;
}

.oo-ui-buttonElement-framed.oo-ui-widget-disabled > a.oo-ui-buttonElement-button:hover {
	text-decoration: none;
}

/**
 * Button icon
 */

body :not( .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive ) > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
	.theme--light & {
		filter: brightness( 0 ) saturate( 100% ) invert( 28% ) sepia( 77% ) saturate( 1826% ) hue-rotate( 188deg ) brightness( 80% ) contrast( 90% );
	}

	.theme--dark & {
		filter: brightness( 0 ) saturate( 100% ) invert( 72% ) sepia( 31% ) saturate( 628% ) hue-rotate( 185deg ) brightness( 101% ) contrast( 102% );
	}
}

.theme--dark .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	.oo-ui-iconElement-icon {
		filter: invert( 100% );
	}
}

// disable filter for highlight
body .oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon.oo-ui-icon-highlight.mw-rcfilters-ui-filterItemHighlightButton-circle {
	filter: none;
}

.theme--dark .oo-ui-indicatorElement-indicator {
	filter: invert( 100% ) sepia( 100% ) saturate( 0% ) hue-rotate( 47deg ) brightness( 103% );
}

/**
 * Button frameless
 */

body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
body .oo-ui-buttonElement-frameless.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	color: var( --clr-primary-44 );

	&:hover {
		.theme--light & {
			color: var( --clr-primary-40 );
		}

		.theme--dark & {
			color: var( --clr-primary-80 );
		}
	}

	&:active {
		.theme--light & {
			color: var( --clr-primary-40 );
		}

		.theme--dark & {
			color: var( --clr-primary-80 );
		}
	}
}

/**
 Grouped buttons
 */

body .oo-ui-buttonSelectWidget > .oo-ui-buttonElement-framed.oo-ui-widget-enabled:not( :first-child ):not( :last-child ) > .oo-ui-buttonElement-button {
	border-radius: 0;
	padding: 0 0.5rem;
}

body .oo-ui-buttonSelectWidget > .oo-ui-buttonElement-framed.oo-ui-widget-enabled:first-child > .oo-ui-buttonElement-button {
	border-radius: 0.625rem 0 0 0.625rem;
	padding: 0 0.5rem;
}

body .oo-ui-buttonSelectWidget > .oo-ui-buttonElement-framed.oo-ui-widget-enabled:last-child > .oo-ui-buttonElement-button {
	border-radius: 0 0.625rem 0.625rem 0;
	padding: 0 0.5rem;
}
