div.oo-ui-windowManager-modal > .oo-ui-dialog {
	background-color: var( --clr-on-surface-dark-primary-40 );
}

div.oo-ui-windowManager-modal > .oo-ui-dialog > .oo-ui-window-frame {
	background-color: var( --clr-surface-3 );
}

div.oo-ui-windowManager-modal.oo-ui-windowManager-floating > .oo-ui-dialog > .oo-ui-window-frame {
	box-shadow: var( --box-shadow-elevation-1 );

	.theme--light & {
		border: 0.0625rem solid var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		border: 0.0625rem solid var( --clr-on-surface-dark-primary-8 );
	}
}

div.oo-ui-processDialog-content .oo-ui-window-head,
div.oo-ui-processDialog-content .oo-ui-window-foot {
	outline: 0;
}

label.oo-ui-processDialog-title {
	font-size: 0.875rem;
	line-height: normal;
	display: flex;
	align-items: center;
	min-height: 3rem;
	justify-content: center;
}

div.oo-ui-processDialog-location {
	min-height: 3.25rem;
}

div.oo-ui-processDialog-actions-safe,
div.oo-ui-processDialog-actions-primary {
	top: 0.5rem;
}

div.oo-ui-processDialog-actions-safe {
	left: 0.5rem;
}

div.oo-ui-processDialog-actions-primary {
	right: 0.5rem;
}

div.oo-ui-processDialog-actions-safe .oo-ui-actionWidget > .oo-ui-buttonElement-button,
div.oo-ui-processDialog-actions-other .oo-ui-actionWidget > .oo-ui-buttonElement-button {
	border-right: 0;
}

/**
 * Specific overwrite for buttons in processDialog
 */
.oo-ui-processDialog .oo-ui-actionWidget:not( .oo-ui-flaggedElement-progressive ):not( .oo-ui-flaggedElement-destructive ) > a.oo-ui-buttonElement-button:hover,
.oo-ui-processDialog .oo-ui-actionWidget:not( .oo-ui-flaggedElement-progressive ):not( .oo-ui-flaggedElement-destructive ) > a.oo-ui-buttonElement-button:active {
	border: 0.0625rem solid var( --clr-outline );
	text-decoration: none;
}
