/*******************************************************************************
Author(s): Elysienna
Various styling moved from components folder from lakesideview skin
*******************************************************************************/

// resources/styles/components/_catlinks.scss
.catlinks {
	background-color: transparent;

	.theme--light & {
		border: 0.0625rem solid var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		border: 0.0625rem solid var( --clr-on-surface-dark-primary-8 );
	}
}

// resources/styles/components/_changeslist.scss
body {
	.mw-changeslist-legend {
		background-color: var( --clr-surface );
	}
}

// resources/styles/components/_debug.scss
/* Debug Mode needs some line breaks */
ul#mw-debug-html > li > code {
	overflow-wrap: break-word;
}

// resources/styles/components/_dropdown.scss
body {
	.oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle {
		background-color: var( --clr-surface-2 );
		text-shadow: none;
	}
}

// resources/styles/components/_fieldbox.scss
body {
	.fieldBox {
		background: var( --clr-surface-2 );
		color: var( --clr-on-surface );
	}
}

// resources/styles/components/_flaggedrevbox.scss
body {
	.cdx-card__text__title {
		color: var( --clr-on-surface );
	}

	.mw-data-after-content {
		padding-top: 1rem;
	}

	.cdx-message {
		background-color: var( --clr-surface-3 );
		color: var( --clr-on-surface );

		.cdx-message__icon {
			-webkit-mask-image: url( 'data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"%23000000\"><path d=\"M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0M9 5h2v2H9zm0 4h2v6H9z\"/></svg>' );
			mask-image: url( 'data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"%23000000\"><path d=\"M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0M9 5h2v2H9zm0 4h2v6H9z\"/></svg>' );
			background-color: var( --clr-on-surface );
		}
	}
}

// resources/styles/components/_link-images.scss
a.feedlink {
	background-image: none;
	padding-left: unset;

	&.dropdown-item {
		display: block;
		width: 100%; /* For `<button>`s */
		padding: 0.25rem 1.5rem;
		clear: both;
		font-weight: normal;
		color: var( --clr-on-surface );
		text-align: inherit; /* For `<button>`s */
		white-space: nowrap; /* prevent links from randomly breaking onto new lines */
		background-color: transparent; /* For `<button>`s */
		border: 0; /* For `<button>`s */
	}
}

// resources/styles/components/_login-status.scss
/* hide stuff on logged in/out status */
body.logged-in .hide-logged-in,
body.logged-out .hide-logged-out {
	display: none;
}

body.logged-in .hide-when-logged-in,
body.logged-out .hide-when-logged-out,
body.logged-in .show-when-logged-out,
body.logged-out .show-when-logged-in {
	display: none;
}

// resources/styles/components/_metadata.scss
.mw_metadata th {
	font-weight: normal;
	text-align: right;

	.theme--light & {
		background-color: var( --clr-surface-2 );
	}

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
	}
}

// resources/styles/components/_mw-contribute.scss
body.mw-special-Contribute {
	.mw-contribute-tabs-content {
		background-color: var( --clr-surface-2 );
	}

	.mw-contribute-card {
		background-color: var( --clr-surface-3 );
	}

	.mw-contribute-card-content {
		color: var( --clr-on-surface );
	}

	.mw-contribute-card-icon--article {
		-webkit-mask-image: url( 'data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"%23000000\"><path d=\"M5 1a2 2 0 00-2 2v14a2 2 0 002 2h10a2 2 0 002-2V3a2 2 0 00-2-2zm0 3h5v1H5zm0 2h5v1H5zm0 2h5v1H5zm10 7H5v-1h10zm0-2H5v-1h10zm0-2H5v-1h10zm0-2h-4V4h4z\"/></svg>' );
		mask-image: url( 'data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"%23000000\"><path d=\"M5 1a2 2 0 00-2 2v14a2 2 0 002 2h10a2 2 0 002-2V3a2 2 0 00-2-2zm0 3h5v1H5zm0 2h5v1H5zm0 2h5v1H5zm10 7H5v-1h10zm0-2H5v-1h10zm0-2H5v-1h10zm0-2h-4V4h4z\"/></svg>' );
		background-color: var( --clr-on-surface );
	}

	.mw-contribute-card-action {
		color: var( --clr-primary );
	}
}

// resources/styles/components/_mw-datatable.scss
body {
	.mw-datatable {
		th {
			background-color: var( --clr-surface-3 );
			color: var( --clr-on-surface );
		}

		td {
			background-color: var( --clr-surface-1 );
			color: var( --clr-on-surface );
		}

		tr:hover td {
			background-color: var( --clr-surface-4 );
			color: var( --clr-on-surface );
		}
	}
}

// resources/styles/components/_mw-datepicker.scss
body {
	.mw-widgets-datetime-dateTimeInputWidget-handle {
		background-color: var( --clr-surface );
		color: var( --clr-on-surface );
	}

	.mw-widgets-datetime-calendarWidget {
		background-color: var( --clr-surface-2 );
	}

	.mw-widgets-datetime-dateTimeInputWidget.oo-ui-widget-enabled .mw-widgets-datetime-dateTimeInputWidget-editField:hover {
		background-color: var( --clr-surface-3 );
		color: var( --clr-on-surface );
	}
}

// resources/styles/components/_mw-json.scss
body {
	.mw-json {
		tr {
			background-color: var( --clr-surface-2 );
		}

		th {
			background-color: var( --clr-surface );
		}
	}

	.theme--dark & .mw-json-value,
	.mw-json-single-value {
		background-color: var( --clr-semantic-positive-10 );
	}

	.theme--light & .mw-json-value,
	.mw-json-single-value {
		background-color: var( --clr-semantic-positive-90 );
	}
}

// resources/styles/components/_preformatted-text.scss
pre,
code,
.mw-code {
	background-color: var( --clr-background );
	color: var( --clr-on-background );
	border: 0.0625rem solid;

	.theme--light & {
		border-color: var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		border-color: var( --clr-on-surface-dark-primary-8 );
	}
}

// resources/styles/components/_quotes.scss
/* CSS to display wikitext in good-looking monospace font, in tutorials */
div.wikitext-quote {
	font-family: monospace, "Courier New";
	font-size: 0.875rem;
	white-space: pre;
	background: var( --clr-surface-variant );
	overflow: auto;
}

// resources/styles/components/_styles.scss
.lakesideview-icon-spinner {
	padding-bottom: 0.125rem;

	::before {
		height: 1.25em;
	}
}

.logotype {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

p {
	line-height: 1.7;
}

// resources/styles/components/_text-width.scss
@media ( min-width: 1560px ) {
	.main-content-column .mw-body-content .mw-parser-output {
		> p,
		> dl {
			max-width: 61.875rem;
		}

		> ul,
		> ol {
			> li {
				max-width: 60.3125rem;
			}
		}
	}
}
