body {
    .mw-widget-dateInputWidget-handle {
        background-color: var( --clr-surface );
        color: var( --clr-on-surface );
        border-radius: 0.25rem;
    }

    .mw-widget-calendarWidget-body-outer-wrapper {
        background-color: var( --clr-surface-1 );
    }

    .mw-widget-calendarWidget-header {
        background-color: var( --clr-surface-3 );
    }

    .mw-widget-calendarWidget-item.mw-widget-calendarWidget-day {
        color: var( --clr-on-surface );
    }

    .mw-widget-calendarWidget-item.mw-widget-calendarWidget-day.mw-widget-calendarWidget-day-additional {
        color: var( --clr-secondary-70 );
    }

    .mw-widget-calendarWidget-item.mw-widget-calendarWidget-day.mw-widget-calendarWidget-item-selected {
        color: var( --clr-primary-100 );
    }

    .mw-widget-dateInputWidget-calendar {
        background-color: var( --clr-surface );
    }
}