/* change colors in diff view to red/green */
td.diff-deletedline {
	.theme--light & {
		border-color: var( --clr-semantic-negative-90 ) !important;
	}

	.theme--dark & {
		border-color: var( --clr-semantic-negative-30 ) !important;
	}

	.diffchange {
		.theme--light & {
			background: var( --clr-semantic-negative-90 ) !important;
		}

		.theme--dark & {
			background: var( --clr-semantic-negative-30 ) !important;
		}
	}
}

td.diff-addedline {
	.theme--light & {
		border-color: var( --clr-semantic-positive-80 ) !important;
	}

	.theme--dark & {
		border-color: var( --clr-semantic-positive-20 ) !important;
	}

	.diffchange {
		.theme--light & {
			background: var( --clr-semantic-positive-80 ) !important;
		}

		.theme--dark & {
			background: var( --clr-semantic-positive-20 ) !important;
		}
	}
}

.diff-context {
	background-color: var( --clr-surface-1 );
	color: var( --clr-on-surface );

	.theme--light & {
		border-color: var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		border-color: var( --clr-on-surface-dark-primary-8 );
	}
}
