hr {
	border: 0;
	height: 0.0625rem;
	margin: 0.1875rem 0;

	.theme--light & {
		background-color: var( --clr-secondary-90 );
	}

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
	}
}

h1,
h2 {
	border-bottom: 0 solid;
}

.mw-heading.mw-heading1,
.mw-heading.mw-heading2,
.mw-heading.mw-heading3,
.mw-heading.mw-heading4,
.mw-heading.mw-heading5,
.mw-heading.mw-heading6 {
	background: none repeat scroll 0 0 rgba( 0, 0, 0, 0 );
	border-bottom: 0.0625rem solid;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-bottom: 0;

	.theme--light & {
		border-bottom-color: var( --clr-secondary-90 );
	}

	.theme--dark & {
		border-bottom-color: var( --clr-secondary-16 );
	}
}

.mw-heading.mw-heading1 h1,
.mw-heading.mw-heading2 h2,
.mw-heading.mw-heading3 h3,
.mw-heading.mw-heading4 h4,
.mw-heading.mw-heading5 h5,
.mw-heading.mw-heading6 h6,
.mw-heading.mw-heading1 .h1,
.mw-heading.mw-heading2 .h2,
.mw-heading.mw-heading3 .h3,
.mw-heading.mw-heading4 .h4,
.mw-heading.mw-heading5 .h5,
.mw-heading.mw-heading6 .h6,
h1#firstHeading,
#mw-pages h2,
#mw-subcategories h2,
.mw-category-group h3 {
	font-weight: 500;

	.theme--light & {
		color: var( --clr-wiki-primary );
	}

	.theme--dark & {
		color: var( --clr-on-background );
	}
}

.mw-heading.mw-heading1 h1,
h1#firstHeading {
	font-size: 1.875rem;
	line-height: 1.1;
}

.mw-heading.mw-heading2 h2 {
	font-size: 1.625rem;
	line-height: 1.1;
}

.mw-heading.mw-heading3,
.mw-heading.mw-heading4,
.mw-heading.mw-heading5,
.mw-heading.mw-heading6 {
	border-bottom: medium none;
}

.mw-heading.mw-heading3 h3 {
	font-size: 1.5rem;
}

.mw-heading.mw-heading4 h4 {
	font-size: 1.25rem;
}

.mw-heading.mw-heading5 h5 {
	font-size: 1.125rem;
}

.mw-heading.mw-heading6 h6 {
	font-size: 1rem;
}

h1#firstHeading,
#mw-pages h2,
#mw-subcategories h2,
.mw-heading.mw-heading1,
.mw-heading.mw-heading2 {
	border-bottom: 0.125rem solid;

	.theme--light & {
		border-color: var( --clr-secondary-90 );
	}

	.theme--dark & {
		border-color: var( --clr-secondary-16 );
	}
}

.mw-heading.mw-heading1 h1 .mw-editsection {
	padding-top: 1.125rem;
}

.mw-heading.mw-heading2 h2 .mw-editsection {
	padding-top: 0.9375rem;
}

.mw-heading.mw-heading3 h3 .mw-editsection {
	padding-top: 0.8125rem;
}
