.popover {
    max-width: 25rem;
    z-index: 19;
    background-color: var( --clr-background );

    .theme--light & {
        border-color: var( --clr-on-surface-light-primary-8 );
    }

    .theme--dark & {
        border-color: var( --clr-on-surface-dark-primary-8 );
    }

    &-header {
        margin-top: 0;
        font-size: 0.875rem;

        .theme--light & {
            background-color: var( --clr-surface-2 );
        }

        .theme--dark & {
            background-color: var( --clr-secondary-9 );
        }
    }

    &-body {
        color: var( --clr-on-background );
    }
}
