/* CSS placed here will be applied to all skins */
.achievement {
	border: solid 1px #00005d;
	background-color: #f8f8f8;
	margin: 12px;
	font-size: 90%;
	width: 450px;
	text-align: left;
}

.achievement-title {
	text-align: center;
	font-size: large;
	background-color: #932d64;
	border-bottom: solid #dfdfdf 1px;
	padding: 0.2em 0;
	color: #f1d1e3;
}

.achievement-desc {
	width: 350px;
	padding-left: 5px;
}

.achievement-table {
	background-color: #f8f8f8;
	width: 100%;
	text-align: left;
}

.achievement-points {
	width: 40px;
	font-size: 22pt;
}
