@mixin banner-background($banner-url) {
	background: url( https://liquipedia.net/commons/images/#{$banner-url} ) no-repeat center / cover;
}

.header-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-radius: 0.5rem;

	@media ( min-width: 768px ) {
		.wiki-ageofempires & {
			@include banner-background( "b/bc/Age_of_Empires_4_Order_of_the_Dragon_banner.png" );
		}

		.wiki-arenafps & {
			@include banner-background( "b/ba/Arenafps-banner.png" );
		}

		.wiki-artifact & {
			@include banner-background( "a/a1/Artifact-banner.png" );
		}

		.wiki-autochess & {
			@include banner-background( "b/bf/Autochess-banner.png" );
		}

		.wiki-battlerite & {
			@include banner-background( "1/1f/Battlerite-banner.png" );
		}

		.wiki-battalion & {
			@include banner-background( "e/ee/Battalion-banner.png" );
		}

		.wiki-brawlstars & {
			@include banner-background( "a/a8/Brawlstars-banner.png" );
		}

		.wiki-brawlhalla & {
			@include banner-background( "3/36/Brawlhalla-banner.png" );
		}

		.wiki-chess & {
			@include banner-background( "e/ed/Chess_Banner_bg.jpg" );
		}

		.wiki-callofduty & {
			@include banner-background( "b/bc/COD_Wiki_Banner.png" );
		}

		.wiki-clashofclans & {
			@include banner-background( "4/4c/Clash_of_Clans_wiki_banner.webp" );
		}

		.wiki-clashroyale & {
			@include banner-background( "2/21/Clash_Royale_wiki_banner.webp" );
		}

		.wiki-crossfire & {
			@include banner-background( "2/2b/Crossfire-banner.png" );
		}

		.wiki-criticalops & {
			@include banner-background( "0/08/Criticalops-banner.png" );
		}

		.wiki-deadlock & {
			@include banner-background( "8/8f/Deadlock_mainpage_banner.png" );
		}

		.wiki-dota2 & {
			@include banner-background( "1/19/Bgdota2.jpg" );
		}

		.wiki-counterstrike & {
			@include banner-background( "d/d1/Counter-strike-bg.png" );
		}

		.wiki-easportsfc & {
			@include banner-background( "3/3e/Easportsfc-banner.png" );
		}

		.wiki-esports & {
			@include banner-background( "4/46/Esports-banner.png" );
		}

		.wiki-freefire & {
			@include banner-background( "5/51/Freefire-banner.png" );
		}

		.wiki-fighters & {
			@include banner-background( "e/ec/Fighters-banner.png" );
		}

		.wiki-fortnite & {
			@include banner-background( "1/1a/Fortnite-banner.png" );
		}

		.wiki-geoguessr & {
			@include banner-background( "7/74/GeoGuessr_Banner.jpg" );
		}

		.wiki-goals & {
			@include banner-background( "a/ae/Goals-banner.png" );
		}

		.wiki-hearthstone & {
			@include banner-background( "4/4d/Hearthstone_banner_bg.png" );
		}

		.wiki-honorofkings & {
			@include banner-background( "f/fb/Hok-banner.png" );
		}

		.wiki-heroes & {
			@include banner-background( "5/5f/Heroesofthestorm-banner.png" );
		}

		.wiki-identityv & {
			@include banner-background( "8/8e/Identityv-bg.webp" );
		}

		.wiki-magic & {
			@include banner-background( "a/a2/Magic-banner.png" );
		}

		.wiki-naraka & {
			@include banner-background( "8/8a/Naraka-banner.png" );
		}

		.wiki-illuvium & {
			@include banner-background( "0/0b/Illuvium-banner.png" );
		}

		.wiki-omegastrikers & {
			@include banner-background( "8/80/Omegastrikers-banner.png" );
		}

		.wiki-pokemon & {
			@include banner-background( "d/d6/Pokemon_wiki_banner.webp" );
		}

		.wiki-rainbowsix & {
			@include banner-background( "c/c0/R6_bg.png" );
		}

		.wiki-rematch & {
			@include banner-background( "c/c1/Rematch_wiki_banner.webp" );
		}

		.wiki-rocketleague & {
			@include banner-background( "5/56/Header-rl.png" );
		}

		.wiki-runeterra & {
			@include banner-background( "4/4f/Runeterra-banner.png" );
		}

		.wiki-smash & {
			@include banner-background( "7/73/Smash_banner.jpg" );
		}

		.wiki-smite & {
			@include banner-background( "1/12/Smite-banner.png" );
		}

		.wiki-stormgate & {
			@include banner-background( "6/6b/Stormgate-banner.png" );
		}

		.wiki-splatoon & {
			@include banner-background( "0/03/Splatoon-banner.png" );
		}

		.wiki-splitgate & {
			@include banner-background( "d/d8/Splitgate-banner.png" );
		}

		.wiki-sideswipe & {
			@include banner-background( "3/37/Sideswipe-banner.png" );
		}

		.wiki-simracing & {
			@include banner-background( "f/f6/Simracing-banner.png" );
		}

		.wiki-squadrons & {
			@include banner-background( "6/6e/Squadrons-banner.png" );
		}

		.wiki-teamfortress & {
			@include banner-background( "d/d0/Teamfortress-banner.png" );
		}

		.wiki-tetris & {
			@include banner-background( "a/af/Tetris-banner.jpg" );
		}

		.wiki-tarkovarena & {
			@include banner-background( "e/e7/Tarkovarena-banner.png" );
		}

		.wiki-thefinals & {
			@include banner-background( "b/b8/Thefinals-banner.png" );
		}

		.wiki-trackmania & {
			@include banner-background( "4/43/Trackmania-banner.jpg" );
		}

		.wiki-underlords & {
			@include banner-background( "4/4d/Underlords-banner.png" );
		}

		.wiki-apexlegends & {
			@include banner-background( "3/3d/Apex_Legends_Banner_bg.png" );
		}

		.wiki-leagueoflegends & {
			@include banner-background( "b/bb/League_of_Legends_Banner_bg.jpg" );
		}

		.wiki-marvelrivals & {
			@include banner-background( "4/47/Marvelrivals-banner.png" );
		}

		.wiki-osu & {
			@include banner-background( "2/2b/Osu_mainpage_banner.jpg" );
		}

		.wiki-overwatch & {
			@include banner-background( "0/0a/Overwatch-bg.png" );
		}

		.wiki-paladins & {
			@include banner-background( "e/e0/Paladins-banner.png" );
		}

		.wiki-pubg & {
			@include banner-background( "2/2d/PUBG_Banner_bg.jpg" );
		}

		.wiki-pubgmobile & {
			@include banner-background( "1/1a/PUBG_Mobile_banner_bg.jpg" );
		}

		.wiki-halo & {
			@include banner-background( "f/f8/Halo_Banner_bg.png" );
		}

		.wiki-starcraft & {
			@include banner-background( "d/d4/Starcraft-banner.png" );
		}

		.wiki-starcraft2 & {
			@include banner-background( "6/6c/Starcraft2-bg.png" );
		}

		.wiki-tft & {
			@include banner-background( "f/f6/Tft-bg.png" );
		}

		.wiki-valorant & {
			@include banner-background( "a/a6/Valorant-bg-2.png" );
		}

		.wiki-warthunder & {
			@include banner-background( "6/6a/Warthunder-banner.png" );
		}

		.wiki-warcraft & {
			@include banner-background( "f/f0/Warcraft-banner.png" );
		}

		.wiki-worldofwarcraft & {
			@include banner-background( "2/2f/Worldofwarcraft-banner.png" );
		}

		.wiki-mobilelegends & {
			@include banner-background( "0/07/MLBB_Wiki_banner.png" );
		}

		.wiki-wildcard & {
			@include banner-background( "c/c0/Wildcard-bg.webp" );
		}

		.wiki-wildrift & {
			@include banner-background( "f/f3/Wild_Rift_wiki_banner.webp" );
		}

		.wiki-worldoftanks & {
			@include banner-background( "f/f3/Worldoftanks_banner.png" );
		}

		.wiki-zula & {
			@include banner-background( "2/2f/Zula-banner.png" );
		}

		.wiki-formula1 & {
			@include banner-background( "9/99/Formula1_banner.png" );
		}
	}

	@media ( min-width: 768px ) {
		box-shadow: 0 0.0625rem 0.25rem 0 rgba( 0, 0, 0, 0.12 );
		height: 8.875rem;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 2.5rem;
		overflow: hidden;

		&::before {
			content: "";
			background-color: #000000;
			opacity: 0.5;
			position: absolute;
			inset: 0;
			z-index: 0;
		}
	}

	> * {
		z-index: 1;
	}

	&__logo {
		position: relative;

		img {
			width: auto;

			@media ( max-width: 767px ) {
				max-height: 2.375rem;
			}

			@media ( min-width: 768px ) {
				max-height: 3.25rem;
			}
		}

		.logo--light-theme {
			display: none;

			.theme--light & {
				@media ( max-width: 767px ) {
					display: block;
				}
			}
		}

		.logo--dark-theme {
			display: block;

			.theme--light & {
				@media ( max-width: 767px ) {
					display: none;
				}
			}
		}
	}

	form.searchbox {
		display: flex;

		@media ( max-width: 767px ) {
			margin-top: 1.5rem;
			width: 100%;
		}

		@media ( min-width: 768px ) {
			margin-top: 0;
		}

		// needed higher specificity to override the default input styles
		input.searchbox-text:not( .search-input ):not( .oo-ui-inputWidget-input ) {
			min-height: 2.75rem;
			border-radius: 0.5rem;
			box-shadow: 0 0.0625rem 0.25rem 0 rgba( 0, 0, 0, 0.12 );
			border: 0.0625rem solid rgba( 0, 0, 0, 0.12 );

			@media ( max-width: 767px ) {
				flex-grow: 1;
			}

			@media ( min-width: 768px ) {
				width: 25rem;
			}

			.theme--dark & {
				background-color: #ffffff;
				color: var( --clr-secondary-7 );
			}
		}

		button.searchbox-button {
			min-height: 2.75rem;
			margin-left: 0.5rem;
			padding: 0 1rem;
			border: 0;
		}
	}
}
