/*******************************************************************************
Template(s): Match Page
Author(s): Rathoz
*******************************************************************************/
.match-bm-lol-match-header {
	display: flex;
	flex-direction: column;
	border: 1px solid #bbbbbb;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-match-header-overview {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
}

.match-bm-match-header-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	font-weight: bold;

	@media ( min-width: 768px ) {
		flex-direction: row;
		gap: 1.5rem;
	}

	&:first-child {
		@media ( min-width: 768px ) {
			flex-direction: row-reverse;
		}

		.match-bm-match-header-team-group {
			@media ( min-width: 768px ) {
				align-items: flex-end;
			}
		}
	}

	&-group {
		display: flex;
		flex-direction: column;

		@media ( max-width: 768px ) {
			align-items: center;
		}
	}

	&-long {
		font-size: 1.625rem;

		@media ( max-width: 767px ) {
			display: none !important;
		}
	}

	&-short {
		@media ( min-width: 768px ) {
			display: none !important;
		}
	}

	.team-template-team-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.team-template-image-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;

		@media ( min-width: 768px ) {
			height: 5rem;
			width: 5rem;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			max-width: 4rem;
			max-height: 4rem;
			width: 4rem;
			height: 4rem;

			@media ( min-width: 768px ) {
				max-width: 5rem;
				max-height: 5rem;
				width: 5rem;
				height: 5rem;
			}
		}
	}
}

//TODO: can be deleted when switching to .match-bm-match-header-team class
.match-bm-lol-match-header-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	width: 100%;
	font-weight: bold;
}

@media ( min-width: 768px ) {
	.match-bm-lol-match-header-team-short {
		display: none !important;
	}
}

@media ( max-width: 767px ) {
	.match-bm-lol-match-header-team-long {
		display: none !important;
	}
}

//end of TODO

.match-bm-lol-match-header-round {
	&-results {
		display: flex;
		gap: 0.25rem;
	}

	&-result {
		color: #ffffff;
		height: 1.5rem;
		width: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		text-transform: uppercase;
		font-size: 0.875rem;
		margin-top: 0.75rem;

		&.result--winner {
			background-color: var( --clr-semantic-positive-40, #27a527 );

			&::before {
				content: "W";
			}
		}

		&.result--loser {
			background-color: var( --clr-semantic-negative-40, #b81414 );

			&::before {
				content: "L";
			}
		}
	}
}

.match-bm-match-header-result {
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	font-size: 2rem;

	@media ( min-width: 767px ) {
		font-size: 2.5rem;
		margin: 0 5rem;
	}

	&-text {
		font-size: 0.875rem;
		font-weight: normal;
		text-transform: uppercase;
	}
}

//TODO: can be deleted when switching to .match-bm-match-header-result class
.match-bm-lol-match-header-result {
	padding: 16px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

@media ( min-width: 414px ) {
	.match-bm-lol-match-header-result {
		font-size: 32px;
	}
}

@media ( max-width: 413px ) {
	.match-bm-lol-match-header-result {
		font-size: 24px;
	}
}

.match-bm-match-header-powered-by {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #f5f5f5;
	border-bottom: 1px solid #bbbbbb;
	font-size: 1rem;
	font-weight: bold;

	@media ( min-width: 768px ) {
		justify-content: flex-end;
		padding: 1rem 1.5rem;
		font-size: 1.125rem;
	}

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}

	> img {
		margin-left: 0.75rem;
		max-height: 2.5rem;
		width: auto;

		@media ( min-width: 768px ) {
			max-height: 3.5rem;
		}
	}
}

.match-bm-lol-match-header-tournament {
	display: flex;
	justify-content: center;
	padding: 8px;
	background: #f5f5f5;
	border-top: 1px solid #bbbbbb;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-match-header-date {
	display: flex;
	justify-content: center;
	padding: 4px;
	background: #f5f5f5;
	border-top: 1px solid #bbbbbb;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-match-mvp {
	display: flex;
	justify-content: center;
	padding: 8px;
	gap: 4px;
	background: #f5f5f5;
	border: 1px solid #bbbbbb;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

/* >= ??px icons in 1→2 columns */
@media ( min-width: 646px ) {
	.match-bm-lol-game-veto-overview {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0;
		align-self: stretch;
	}
}

@media ( max-width: 645px ) {
	.match-bm-lol-game-veto-overview {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		align-self: stretch;
	}
}

.match-bm-lol-game-veto {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.match-bm-lol-game-veto img {
	width: 24px;
	height: 24px;
}

.match-bm-lol-game-veto-overview-team {
	display: flex;
	flex-direction: column;
	border: 1px solid #bbbbbb;
	width: 100%;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-game-veto-overview-team-header,
.match-bm-lol-game-veto-overview-team-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px;
	background: #f5f5f5;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
	}
}

.match-bm-lol-game-veto-overview-team-veto {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8px;
	gap: 8px;
	border-top: 1px solid #bbbbbb;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-game-veto-overview-ban,
.match-bm-lol-game-veto-overview-pick {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 2px;
}

ul.match-bm-lol-game-veto-overview-ban,
ul.match-bm-lol-game-veto-overview-pick {
	margin: 0;
}

.match-bm-lol-game-veto-overview-ban,
.match-bm-lol-game-veto-order-ban {
	opacity: 0.5;
}

.match-bm-lol-game-veto-overview-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.match-bm-lol-game-veto-pick-bar-blue,
.match-bm-lol-game-veto-pick-bar-red {
	width: 24px;
	height: 4px;
}

.match-bm-lol-game-veto-pick-bar-blue {
	background: #0d71bf;
}

.match-bm-lol-game-veto-pick-bar-red {
	background: #b81414;
}

.match-bm-lol-game-veto-order-toggle {
	padding: 4px;
	background: #f5f5f5;
	border: 1px solid #bbbbbb;
	width: 100%;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

/* >= 768px reflow picks/bans order */
@media ( max-width: 767px ) {
	@media ( min-width: 646px ) {
		/* Header not needed when both in 2 col mode */
		.match-bm-lol-game-veto-order-team-header {
			display: none !important;
		}
	}

	.match-bm-lol-game-veto-order-team-choices {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8px;
		gap: 8px;
		border: 1px solid #bbbbbb;
		width: 100%;

		.theme--dark & {
			border-color: var( --clr-secondary-25 );
		}
	}

	.match-bm-lol-game-veto-order-team-choice-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.match-bm-lol-game-veto-order-list {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-self: stretch;
	}

	.match-bm-lol-game-veto-order-team {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: stretch;
		width: 100%;
	}
}

@media ( min-width: 768px ) {
	.match-bm-lol-game-veto-order-team-choices {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px;
		gap: 8px;
		border: 1px solid #bbbbbb;
		width: 100%;

		.theme--dark & {
			border-color: var( --clr-secondary-25 );
		}
	}

	.match-bm-lol-game-veto-order-team-choice-group {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.match-bm-lol-game-veto-order-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		align-self: stretch;
	}

	.match-bm-lol-game-veto-order-team {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}
}

.match-bm-lol-game-veto-order-team-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px;
	background: #f5f5f5;
	border: 1px solid #bbbbbb;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-game-veto-order-team-choice {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	line-height: 1;
}

.match-bm-lol-game-veto-order-step {
	width: 24px;
	height: 24px;
	background: #202122;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: bold;
	font-size: 12px;

	.theme--dark & :not( .match-bm-lol-game-veto-order-step-blue ):not( .match-bm-lol-game-veto-order-step-red ) {
		background-color: var( --clr-secondary-39 );
	}
}

.match-bm-lol-game-veto-order-step-blue {
	background: #0d71bf;
}

.match-bm-lol-game-veto-order-step-red {
	background: #b81414;
}

.match-bm-game-veto-wrapper,
.match-bm-players-wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 1rem;
	align-items: flex-start;

	@media ( min-width: 414px ) {
		font-size: 15px;
	}

	@media ( max-width: 413px ) {
		font-size: 12px;
	}

	@media ( min-width: 768px ) {
		grid-template-columns: auto auto;
	}
}

/* >= 834 2 column player layout */
@media ( max-width: 833px ) {
	.match-bm-lol-players-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}
}

@media ( min-width: 834px ) {
	.match-bm-lol-players-wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 16px;
	}
}

@media ( max-width: 413px ) {
	.match-bm-lol-players-wrapper {
		font-size: 12px;
	}
}

@media ( min-width: 414px ) {
	.match-bm-lol-players-wrapper {
		font-size: 15px;
	}
}

.match-bm-players-team {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.match-bm-lol-players-team {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.match-bm-lol-players-team-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px;
	background: #eaecf0;
	border: 1px solid #bbbbbb;
	align-self: stretch;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-players-player {
	display: flex;
	padding: 1rem;
	align-items: stretch;
	background: #ffffff;
	border: 0.0625rem solid #bbbbbb;

	@media ( max-width: 1199px ), ( min-width: 1320px ) {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media ( min-width: 1200px ) and ( max-width: 1319px ), ( min-width: 1510px ) {
		display: grid;
		grid-template-columns: 9.375rem auto 9.5rem;
		grid-gap: 1rem;
	}

	.theme--dark & {
		background-color: var( --clr-secondary-7 );
		border-color: var( --clr-secondary-25 );
	}

	&-role {
		width: 1.25rem;
		height: 1.25rem;
		position: absolute;
		inset: auto 0 0 auto;
		border-radius: 0.25rem;
		background-color: var( --on-background );
		overflow: hidden;

		&.role--radiant {
			background-color: var( --clr-atlantis-40 );
		}

		&.role--dire {
			background-color: var( --clr-california-40 );
		}
	}

	&-character {
		display: flex;
		align-items: center;
		position: relative;

		@media ( max-width: 1199px ), ( min-width: 1320px ) {
			flex: 1 0 auto;
		}

		@media ( min-width: 1200px ) and ( max-width: 1319px ), ( min-width: 1510px ) {
			order: 1;
		}
	}

	&-avatar {
		width: 3rem;
		height: 3rem;
		margin-right: 0.5rem;
		position: relative;

		@media ( min-width: 768px ) {
			width: 4rem;
			height: 4rem;
		}
	}

	&-icon {
		overflow: hidden;
		border-radius: 100%;

		img {
			width: auto;
			height: 3rem;
			position: relative;
			left: 50%;
			transform: translateX( -50% );

			@media ( min-width: 768px ) {
				height: 4rem;
			}
		}
	}

	&-loadout {
		display: flex;
		gap: 1rem;

		@media ( max-width: 1199px ), ( min-width: 1320px ) {
			flex: 0 0 7.5rem;
		}

		@media ( min-width: 1200px ) and ( max-width: 1319px ), ( min-width: 1510px ) {
			order: 3;
		}

		&-item {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 0.25rem;

			img {
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 0.25rem;

				@media ( min-width: 768px ) {
					width: 2rem;
					height: 2rem;
				}
			}
		}

		&-items {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.25rem;
		}

		&-rs {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.125rem;

			img {
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 100%;

				@media ( min-width: 768px ) {
					width: 2rem;
					height: 2rem;
				}
			}
		}

		&-rs-wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.25rem;
		}
	}

	&-stat {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;

		&-title {
			display: flex;
			align-items: center;
			font-size: 0.875rem;

			i {
				margin-right: 0.5rem;
			}
		}

		&-data {
			font-weight: bold;
			font-size: 1rem;

			@media ( min-width: 1024px ) {
				font-size: 1.125rem;
			}

			.slash {
				margin: 0 0.125rem;
				opacity: 0.4;
			}
		}
	}

	&-stats {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		@media ( max-width: 1199px ), ( min-width: 1320px ) {
			flex: 1 0 100%;
			margin-top: 1rem;
		}

		@media ( min-width: 1200px ) and ( max-width: 1319px ), ( min-width: 1510px ) {
			order: 2;
			margin-top: unset;
		}
	}
}

.match-bm-game-veto-overview-team-header {
	border-bottom: 0.0625rem solid #bbbbbb;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-game-veto-overview-team-veto {
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	color: #ffffff;

	&-row {
		display: flex;
		gap: 0.125rem;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		&-item {
			display: flex;
			flex-direction: column;

			img {
				border-radius: 0.25rem 0.25rem 0 0;
				width: 3.75rem;
				height: 2.5rem;

				@media ( min-width: 834px ) {
					width: 4.5rem;
					height: 3rem;
				}
			}

			&-text {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bold;
				border-radius: 0 0 0.25rem 0.25rem;
			}
		}

		&--radiant {
			.match-bm-game-veto-overview-team-veto-row-item-text {
				background-color: #7eac20;
			}
		}

		&--dire {
			.match-bm-game-veto-overview-team-veto-row-item-text {
				background-color: #cc6500;
			}
		}

		&--ban {
			opacity: 0.5;

			.match-bm-game-veto-overview-team-veto-row-item-text {
				background-color: #121212;
			}
		}
	}
}

.match-bm-lol-players-player {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	gap: 16px;
	background: #ffffff;
	border: 1px solid #bbbbbb;
	align-self: stretch;

	.theme--dark & {
		background-color: var( --clr-secondary-7 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-players-player-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

.match-bm-lol-players-player-character {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	position: relative;
}

@media ( max-width: 413px ) {
	.match-bm-lol-players-player-avatar,
	.match-bm-lol-players-player-icon > a > img {
		width: 32px;
		height: 32px;
	}

	.match-bm-lol-players-player-role {
		padding: 1px;
	}

	.match-bm-lol-players-player-role > img {
		width: 14px;
		height: 14px;
		left: 20px;
		top: 22px;
	}
}

@media ( min-width: 414px ) {
	.match-bm-lol-players-player-avatar,
	.match-bm-lol-players-player-icon > a > img {
		width: 48px;
		height: 48px;
	}

	.match-bm-lol-players-player-role {
		padding: 2px;
	}

	.match-bm-lol-players-player-role > img {
		width: 20px;
		height: 20px;
		left: 30px;
		top: 32px;
	}
}

.match-bm-lol-players-player-role > img {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	position: absolute;
	border-radius: 2px;
}

.match-bm-lol-players-player-icon > a > img {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 40px;
}

.match-bm-lol-players-player-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.match-bm-lol-players-player-name > a {
	font-weight: bold;
}

@media ( max-width: 413px ) {
	.match-bm-lol-players-player-loadout img {
		width: 16px;
		height: 16px;
	}
}

@media ( min-width: 414px ) {
	.match-bm-lol-players-player-loadout img {
		width: 24px;
		height: 24px;
	}
}

.match-bm-lol-players-player-loadout {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;
}

.match-bm-lol-players-player-loadout-rs-wrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 4px;
}

.match-bm-lol-players-player-loadout-rs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.match-bm-lol-players-player-loadout-items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.match-bm-lol-players-player-loadout-item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 2px;
}

.match-bm-lol-players-player-stats {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
	align-self: stretch;
}

.match-bm-lol-players-player-stat {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 4px;
	width: 88px;

	.theme--dark & > img {
		filter: invert( 1 );
	}
}

.match-bm-lol-h2h {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-weight: bold;
}

.match-bm-lol-h2h-header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	background: #eaecf0;
	border: 1px solid #bbbbbb;
	align-self: stretch;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-h2h-header-team {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;
	width: 100%;
}

.match-bm-lol-h2h-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid #bbbbbb;
	align-self: stretch;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-h2h-stat {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 8px;
	align-self: stretch;
}

.match-bm-lol-h2h-stat-title {
	width: 80px;

	.theme--dark & > img {
		filter: invert( 1 );
	}
}

.match-bm-lol-game-overview {
	border: 1px solid #bbbbbb;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-lol-game-summary {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.match-bm-lol-game-summary-team {
	display: flex;
	align-items: center;
	padding: 16px;
	gap: 4px;
}

.match-bm-lol-game-summary-center {
	display: flex;
	align-items: center;
}

@media ( min-width: 414px ) {
	.match-bm-lol-game-summary-faction {
		width: 20px;
		height: 20px;
	}
}

@media ( max-width: 413px ) {
	.match-bm-lol-game-summary-faction {
		width: 16px;
		height: 16px;
	}
}

.match-bm-lol-game-summary-score-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	gap: 4px;
	text-align: center;
}

.match-bm-lol-game-summary-score {
	font-weight: bold;
	line-height: 100%;
}

.match-bm-lol-game-summary-length {
	line-height: 100%;
}

@media ( min-width: 414px ) {
	.match-bm-lol-game-summary-score {
		font-size: 20px;
	}

	.match-bm-lol-game-summary-length {
		font-size: 15px;
	}
}

@media ( max-width: 413px ) {
	.match-bm-lol-game-summary-score {
		font-size: 15px;
	}

	.match-bm-lol-game-summary-length {
		font-size: 12px;
	}
}

.match-bm-match-additional {
	display: flex;
	gap: 1rem;

	@media ( max-width: 767px ) {
		flex-direction: column;
	}

	&-section {
		flex: 1 0 20%;
		border: 0.0625rem solid #bbbbbb;

		.theme--dark & {
			border-color: var( --clr-secondary-25 );
		}

		&-header {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.25rem;
			border-bottom: 0.0625rem solid #bbbbbb;
			background: #f5f5f5;
			font-weight: bold;
			height: 2.375rem;

			.theme--dark & {
				background-color: var( --clr-secondary-16 );
				border-color: var( --clr-secondary-25 );
			}
		}

		&-body {
			display: flex;
			gap: 0.5rem;
			padding: 1rem 0.5rem;
			justify-content: center;
		}
	}
}

.match-bm-lol-match-additional-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px;
	gap: 4px;
	border: 1px solid #bbbbbb;
	background: #f5f5f5;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-secondary-25 );
	}
}

.match-bm-team-stats {
	border: 0.0625rem solid #bbbbbb;
	margin-bottom: 1rem;

	.theme--dark & {
		border-color: var( --clr-secondary-25 );
	}

	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #eaecf0;
		border-bottom: 0.0625rem solid #bbbbbb;
		padding: 1rem 0;
		gap: 0.5rem;

		.theme--dark & {
			background-color: var( --clr-secondary-16 );
			border-color: var( --clr-secondary-25 );
		}

		html h4&-title {
			font-weight: bold;
			text-transform: uppercase;
			color: var( --clr-on-background ) !important;
			margin: 0;
			padding: 0;
		}

		&-time {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			justify-content: center;
		}
	}

	&-container {
		display: flex;
		padding: 1rem 0;
		flex-wrap: wrap;
	}

	&-team {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 1rem 0;

		@media ( max-width: 767px ) {
			flex: 1 0 50%;
			order: 1;
		}

		&-side {
			font-weight: bold;
			text-transform: uppercase;
		}

		&-state {
			background-color: var( --clr-on-background );
			border-radius: 0.75rem;
			min-height: 1.5rem;
			color: #ffffff;
			padding: 0 0.5rem;
			text-transform: uppercase;
			font-weight: bold;

			&.state--winner {
				background-color: var( --clr-semantic-positive-40 );
			}

			&.state--loser {
				background-color: var( --clr-semantic-negative-40 );
			}
		}
	}

	&-list {
		flex: 1;
		display: flex;
		flex-direction: column;

		@media ( max-width: 767px ) {
			flex: 1 0 100%;
			order: 2;
		}

		&-row {
			display: flex;

			&:not( :last-child ) {
				border-bottom: 0.0625rem solid #bbbbbb;

				.theme--dark & {
					border-color: var( --clr-secondary-25 );
				}
			}
		}

		&-cell {
			display: flex;
			justify-content: center;
			flex: 1;
			align-items: center;
			min-height: 2.75rem;
			gap: 0.5rem;
			font-weight: bold;

			&.cell--middle {
				font-weight: normal;
			}

			.slash {
				opacity: 0.4;
			}
		}
	}
}
