/* hide subpages (breadcrumbs) in mainspace and templatespace */
body.ns-0,
body.ns-10 {
	.content-sub .subpages {
		display: none;
	}
}

ol.breadcrumb {
	margin-left: -0.75rem;

	.breadcrumb-item + .breadcrumb-item::before {
		color: var( --clr-on-background );
	}
}
