/*******************************************************************************
Template(s): Calendar
Author(s): PhiLtheFisH
*******************************************************************************/
.calendar {
	width: 780px;
}

.calendar-events {
	float: left;
	position: relative;
	width: 720px;
	height: 719px;
	border: 1px solid #aaa;
	background: url("/commons/images/a/ae/Calendar_background.png") repeat;
	padding: 0px;
	overflow: hidden;
}

.calendar-time-column {
	float: left;
	width: 45px;
	text-align: right;
	padding-right: 5px;
	margin-top:-8px;
}

.calendar-time-slot {
	height: 30px;
}

.calendar-event-item {
	position: absolute;
	width: 100px;
	border: 1px solid #aaa;
	padding: 2px;
	opacity: 0.8;
}

.calendar-event-item:hover {
	z-index: 1;
}

.calendar-column {
	width: 103px;
	text-align: center;
	float:left;
}
