/*******************************************************************************
Template(s): Artifact decks background
Author(s): Ricci
*******************************************************************************/

.artifact-deck-#000000 {
	background-color: #d3d3d3;
	text-align: center;
}

.artifact-deck-blue {
	background-color: #dee3ef;
	text-align: center;
}

.artifact-deck-green {
	background-color: #ddf4dd;
	text-align: center;
}

.artifact-deck-red {
	background-color: #fbdfdf;
	text-align: center;
}

.artifact-deck-yellow {
	background-color: #f9f9c7;
	text-align: center;
}

/*******************************************************************************
Template(s): Legends of Runeterra deck lists
Author(s): salle, Ricci, iMarbot
*******************************************************************************/
@media ( max-width: 599px ) {
	.lor-deck .hoverimage {
		display: none;
	}

	.lor-deck .divCell {
		border-top: 0;
	}

	.lor-deck-row {
		min-width: 300px;
		max-width: 450px;
		margin: 0 auto;
		height: 100px;
		border: 1px solid #bbbbbb;
		padding: 5px;
		vertical-align: top;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
	}

	.lor-deck-player {
		width: 80%;
		padding-left: 20%;
		font-weight: bold;
		font-size: 110%;
		order: 1;
	}

	.lor-deck-player-title {
		display: none;
	}

	.lor-deck-playstyle {
		width: 10%;
		order: 3;
		padding-top: 0;
		text-align: left;
	}

	.lor-deck-playstyle i {
		font-size: 250% !important;
		position: absolute;
	}

	.lor-deck-playstyle-title {
		display: none;
	}

	.lor-deck-subtype {
		width: 90%;
		padding-right: 10%;
		margin-top: 0;
		padding-top: 0;
		order: 4;
		text-align: center;
	}

	.lor-deck-subtype-title {
		display: none;
	}

	.lor-deck-champions {
		width: 100%;
		order: 5;
		padding-top: 0;
	}

	.lor-deck-champions-title {
		display: none;
	}

	.lor-deck-links {
		width: 20%;
		order: 2;
	}

	.lor-deck-links-title {
		display: none;
	}
}

@media ( min-width: 600px ) {
	.lor-deck-row {
		margin-top: 10px;
		border: 1px solid #bbbbbb;
		vertical-align: top;
		text-align: center;
	}

	.lor-deck-player {
		width: 180px;
		padding: 5px;
		border-right: 1px solid #bbbbbb;
		text-align: left;
	}

	.lor-deck-player-title {
		width: 180px;
		text-align: center;
	}

	.lor-deck-playstyle {
		width: 25px;
		padding: 5px;
		border-right: 1px solid #bbbbbb;
	}

	.lor-deck-playstyle-title {
		width: 25px;
	}

	.lor-deck-subtype {
		width: 300px;
		padding: 5px;
		border-right: 1px solid #bbbbbb;
		text-align: left;
	}

	.lor-deck-subtype-title {
		width: 245px;
		text-align: center;
	}

	.lor-deck-champions {
		width: 180px;
		padding: 5px;
		border-right: 1px solid #bbbbbb;
	}

	.lor-deck-champions-title {
		width: 180px;
		text-align: center;
	}

	.lor-deck-links {
		width: 90px;
		padding: 5px;
	}

	.lor-deck-links-title {
		width: 90px;
		text-align: center;
	}
}

/*******************************************************************************
Template(s): Runeterra Deck List
Author(s): Darkrai, salle
*******************************************************************************/
table.runeterra-deck {
	min-width: 320px;
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

@media ( min-width: 970px ) {
	table.runeterra-deck {
		width: 320px;
		float: left;
		margin-right: 10px;
		margin-left: 0;
	}
}

.runeterra-deck tr > th {
	vertical-align: middle;
}

.runeterra-deck tr > th > span {
	font-size: 90%;
	vertical-align: super;
}

.runeterra-deck tr.demacia {
	background-color: #f9f9c7;
}

.runeterra-deck tr.freljord {
	background-color: #dee3ef;
}

.runeterra-deck tr.ionia {
	background-color: #f4ddea;
}

.runeterra-deck tr.noxus {
	background-color: #fbdfdf;
}

.runeterra-deck tr.piltover-zaun {
	background-color: #f9dec7;
}

.runeterra-deck tr.shadow-isles {
	background-color: #ddf4dd;
}

.runeterra-deck td.mana {
	width: 30px;
	font-weight: bold;
	text-align: center;
}

.runeterra-deck td.card {
	font-weight: bold;
}

.runeterra-deck td.amount {
	width: 30px;
	text-align: center;
	font-weight: bold;
}
