/*******************************************************************************
Template(s): Dialog (popup)
*******************************************************************************/

.general-dialog {
	display: inline-block;

	&-wrapper,
	&-title {
		display: none;
	}
}

div.general-dialog-container {
	display: flex;
	flex-flow: column nowrap;
	border: 1px solid #bbbbbb;
	background-color: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0.0625rem 0.25rem 0 var( --clr-on-surface-dark-primary-12 );
	padding: 0.5rem;
	gap: 0.5rem;
	width: auto !important;
	max-width: 100vw;
	max-height: 100vh;

	.theme--dark & {
		background-color: var( --clr-secondary-16 );
		border-color: var( --clr-on-surface-dark-primary-8 );
	}

	@media ( max-width: 435px ) {
		left: 0 !important;
	}

	@media ( min-width: 1320px ) {
		max-width: calc( 100vw - 320px - 1rem );
	}

	.ui-dialog-content {
		padding: unset;
		max-height: 90vh;
	}
}
