.dropdown-widget {
	position: relative;
	display: inline-block;

	&__toggle {
		cursor: pointer;
	}

	&__menu {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		min-width: max-content;
		padding: 0.25rem;
		margin-top: 0.25rem;
		border: 1px solid;
		border-radius: 0.25rem;
		box-shadow: 0 1px 4px rgba( 0, 0, 0, 0.12 );

		.theme--light & {
			background-color: var( --clr-secondary-100 );
			border-color: var( --clr-on-surface-light-primary-12 );
		}

		.theme--dark & {
			background-color: var( --clr-secondary-9 );
			border-color: var( --clr-on-surface-dark-primary-12 );
		}

		&.show {
			display: block;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		min-width: 2.75rem;
		height: 2rem;
		font-family: "Open Sans", sans-serif;
		font-size: 0.6875rem;
		font-weight: bold;
		border-radius: 0.25rem;
		cursor: pointer;
		text-decoration: none;
		gap: 0.25rem;
		white-space: nowrap;

		.theme--light & {
			color: var( --clr-secondary-25 );
		}

		.theme--dark & {
			color: var( --clr-secondary-90 );
		}

		&:hover {
			text-decoration: none;

			.theme--light & {
				background-color: var( --clr-on-surface-light-primary-4 );
				color: var( --clr-secondary-25 );
			}

			.theme--dark & {
				background-color: var( --clr-on-surface-dark-primary-4 );
				color: var( --clr-secondary-90 );
			}
		}

		a & {
			color: inherit;
		}
	}

	&__item-icon {
		width: 1rem;
		height: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;

		img,
		svg {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}

	&__item-text {
		line-height: 1rem;
	}
}
