/* restrict maximum image size in content */
.img-responsive img,
#file img {
	max-width: 100%;
	height: auto;
}

.filehistory a img,
#file img:hover {
	.theme--light & {
		background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M0 0h8v16h8V8H0z' opacity='0.7' fill='%23cccccc'/%3E%3C/svg%3E" ) repeat;
	}

	.theme--dark & {
		background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M0 0h8v16h8V8H0z' opacity='0.7' fill='%23424242'/%3E%3C/svg%3E" ) repeat;
	}
}

/* thumbnails */
.thumbcaption {
	border: 0 solid var( --clr-on-surface );
	line-height: 1.4;
	padding: 0.1875rem;
	font-size: 94%;
	background-color: var( --clr-surface );
	margin-top: 0.3125rem;
}

div.thumbinner {
	background-color: var( --clr-surface );
	border-top: 0.125rem solid var( --clr-wiki-primary );
	border-bottom: 0.125rem solid var( --clr-wiki-primary );
	border-right: 0;
	border-left: 0;
	padding: 0.625rem 0;
	margin: 0;
}

@media ( max-width: 575.98px ) {
	div.tright,
	div.floatright,
	table.floatright {
		float: none;
	}

	.thumb {
		margin: 0;
	}

	.thumb img {
		width: 100%;
		height: auto;
	}
}

.thumbimage {
	border: 0;
}

.tright .thumbinner {
	min-width: 6.25rem;
}

/*******************************************************************************
Template(s): Images without license information
Author(s): FO-nTTaX
*******************************************************************************/
.logged-in img.image-license-issue {
	border: 5px solid #ff0000 !important;
	box-sizing: border-box !important;
}

/*******************************************************************************
Template(s): Darkmode images on file pages
Author(s): FO-nTTaX, iMarbot
*******************************************************************************/
html:not( [ data-darkreader-scheme="dark" ] ):not( .theme--dark ) {
	#file img[ src*="darkmode" ]:not( :hover ),
	.searchResultImage img[ src*="darkmode" ],
	.gallerybox img[ src*="darkmode" ] {
		background-color: #272727;
	}
}

#file img[ src*="lightmode" ]:not( :hover ),
.searchResultImage img[ src*="lightmode" ],
.gallerybox img[ src*="lightmode" ] {
	@at-root [ data-darkreader-scheme="dark" ] & {
		background-color: #808080;
	}

	@at-root .theme--dark & {
		background-color: #d8d8d8;
	}
}

.filehistory a img[ src*="darkmode" ],
#file img[ src*="darkmode" ]:hover {
	background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAHElEQVQY02MUZoAADijNxIAG6CPAArP/x8C6AwCutQE9GsmfRAAAAABJRU5ErkJggg== ) repeat;
}
