/*******************************************************************************
Template(s): All Infoboxes
Author(s): FO-nTTaX
*******************************************************************************/
$infobox-width: 336px;
$infobox-margin: 10px;
$infobox-padding: 10px;

.fo-nttax-infobox-container {
	@media ( max-width: 600px ) {
		display: flex;
		flex-wrap: wrap;
	}
}

.fo-nttax-infobox-wrapper {
	clear: right;
	float: right;
	margin: $infobox-margin 0 $infobox-margin $infobox-margin;
	font-size: 0.8125rem;

	@media ( max-width: 600px ) {
		order: 2;
		width: 100%;
		margin-left: 0;
		float: none;

		.infobox-image > div > div {
			text-align: center;
		}
	}

	.infobox-header {
		padding: 5px;
		font-weight: bold;
		text-align: center;
		font-size: 155%;
		background-color: var( --infobox-header-background-color, var( --wiki-color-light ) );

		&-2 {
			font-size: 130%;
		}

		&-3 {
			font-size: 115%;
		}
	}

	.infobox-header .infobox-buttons {
		float: right;
		font-size: 60%;
		font-weight: 500;

		a {
			background: none repeat scroll 0% 0% transparent !important;
			padding: 0 !important;
		}
	}

	.infobox-icons {
		padding-top: 2px;

		a {
			background: none repeat scroll 0% 0% transparent !important;
			padding: 0 !important;
		}

		.lp-icon {
			margin-top: 3px;
		}
	}

	.infobox-text-left {
		text-align: left;
	}

	.infobox-text-right {
		text-align: right;
	}

	.infobox-float-left {
		float: left;
	}

	.infobox-float-right {
		float: right;
	}

	.infobox-gold {
		font-size: 11pt;
		color: #f5c433;
		text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
	}

	.infobox-gradient {
		background: linear-gradient( to right, #ffcccc, #ffddaa, #ffff99, #eeffaa, #ccffcc ) repeat scroll 0% 0% transparent;
		line-height: 0.1px;
	}

	&.popout {
		position: absolute;
		top: 0;
		left: 990px;
	}
}

.fo-nttax-infobox-topcontent {
	width: 100%;

	@media ( max-width: 600px ) {
		order: 1;
	}

	@media ( min-width: 601px ) {
		width: calc( 100% - $infobox-width - $infobox-margin );
	}
}

.fo-nttax-infobox-adbox {
	width: $infobox-width;
	min-height: 292px;
	padding-top: $infobox-padding;
	padding-bottom: 30px;
	border-bottom: 2px solid var( --infobox-header-background-color, var( --wiki-color-light ) );
	overflow: hidden;
	text-align: center;

	@media ( max-width: 600px ) {
		width: 100%;
	}

	> * {
		margin: 0 auto;
	}
}

.fo-nttax-infobox {
	width: $infobox-width;
	padding-top: $infobox-padding;
	padding-bottom: $infobox-padding;
	border-top: 2px solid var( --infobox-header-background-color, var( --wiki-color-light ) );
	border-bottom: 2px solid var( --infobox-header-background-color, var( --wiki-color-light ) );

	@media ( max-width: 600px ) {
		width: 100%;
	}

	> div {
		display: table;
		width: 100%;

		&:nth-child( 2n+1 ) {
			background-color: var( --clr-surface-2, #eeeeee );
		}

		&:nth-child( 2n ) {
			background-color: var( --clr-surface-1, #f5f5f5 );
		}

		&::after {
			clear: both;
		}

		> div {
			width: 100%;
			float: left;
			height: inherit;
			padding: 5px;
		}
	}

	div.infobox-cell-2 {
		width: 50%;
	}

	div.infobox-cell-3 {
		width: 33.3333%;
	}

	div.infobox-cell-4 {
		width: 25%;
	}

	div.infobox-cell-4-5 {
		width: 22.2222%;
	}

	div.infobox-cell-5 {
		width: 20%;
	}

	div.infobox-cell-6 {
		width: 16.6666%;
	}

	div.infobox-cell-7 {
		width: 14.2857%;
	}

	div.infobox-cell-8 {
		width: 12.5%;
	}

	div.infobox-cell-9 {
		width: 11.1111%;
	}

	div.infobox-cell-10 {
		width: 10%;
	}

	div.infobox-cell-11 {
		width: 9.0909%;
	}

	div.infobox-cell-12 {
		width: 8.3333%;
	}

	div.infobox-description {
		font-weight: bold;
		text-align: right;
	}

	> div.infobox-image-wrapper {
		position: relative;
	}

	div.infobox-image {
		padding: 0;
		width: 100%;

		&:not( .infobox-fixed-size-image ) img {
			width: 100%;
			height: auto;
		}
	}

	div.infobox-fixed-size-image img {
		width: auto;
		height: auto;
	}

	div.infobox-image-text {
		position: absolute;
		bottom: 4px;
		right: 8px;
		padding: 0;
		text-align: right;
		font-weight: bold;
	}

	div.infobox-center {
		text-align: center;
	}

	div.infobox-size-20 {
		font-size: 200%;
	}

	div.infobox-bold {
		font-weight: bold;
	}

	div.infobox-slider > div > div {
		padding: 5px;
		float: left;
	}
}

/** Game colors **/

/* StarCraft II - Wings of Liberty */
.fo-nttax-infobox-wrapper.infobox-wol .infobox-header {
	.theme--light & {
		background-color: var( --clr-sapphire-90 );
	}

	.theme--dark & {
		background-color: var( --clr-sapphire-20 );
	}
}

/* StarCraft II - Heart of the Swarm */
.fo-nttax-infobox-wrapper.infobox-hots .infobox-header {
	.theme--light & {
		background-color: var( --clr-cinnabar-90 );
	}

	.theme--dark & {
		background-color: var( --clr-cinnabar-20 );
	}
}

/* Starcraft II - Legacy of the Void */
.fo-nttax-infobox-wrapper.infobox-lotv .infobox-header {
	.theme--light & {
		background-color: var( --clr-forest-90 );
	}

	.theme--dark & {
		background-color: var( --clr-forest-20 );
	}
}

/* Starcraft II - Custom mods */
.fo-nttax-infobox-wrapper.infobox-mod .infobox-header {
	.theme--light & {
		background-color: var( --clr-sun-80 );
	}

	.theme--dark & {
		background-color: var( --clr-sun-20 );
	}
}

/* Smash */
.fo-nttax-infobox-wrapper.infobox-64 .infobox-header {
	background-color: var( --clr-atlantis-background-color, #d5e5b6 );
}

.fo-nttax-infobox-wrapper.infobox-melee .infobox-header {
	background-color: var( --clr-forest-background-color, #b6e5c6 );
}

.fo-nttax-infobox-wrapper.infobox-brawl .infobox-header {
	background-color: var( --clr-elm-background-color, #b6d5e5 );
}

.fo-nttax-infobox-wrapper.infobox-pm .infobox-header {
	background-color: var( --clr-vividviolet-background-color, #c6b6e5 );
}

.fo-nttax-infobox-wrapper.infobox-wiiu .infobox-header {
	background-color: var( --clr-california-background-color, #e5c6b6 );
}

.fo-nttax-infobox-wrapper.infobox-ultimate .infobox-header {
	background-color: var( --clr-redviolet-background-color, #e5b6d5 );
}

/*******************************************************************************
Template(s): Infobox arrows
Author(s): Rapture
*******************************************************************************/
.infobox-arrow-icon img {
	max-width: 9px;
	max-height: 18px;
	image-rendering: -webkit-optimize-contrast;
}

/*******************************************************************************
Template(s): Legends of Runeterra Champion Card Images
Author(s): salle, Ricci
*******************************************************************************/
.fo-nttax-infobox div.infobox-image.infobox-double-image > div {
	overflow-x: scroll;
	width: $infobox-width;
	white-space: nowrap;

	@media ( max-width: 600px ) {
		width: 100%;
	}
}

.infobox-double-image div .center {
	display: inline-block;
	width: auto;

	&:first-child .floatnone a img {
		margin-left: 40px;
		margin-right: 10px;
	}

	&:last-child .floatnone a img {
		margin-left: 10px;
		margin-right: 40px;
	}
}

/*******************************************************************************
Template(s): Darkmode/Lightmode logo support
Author(s): iMarbot
*******************************************************************************/
.infobox-image {
	& img {
		&[ src*="allmode" ],
		&[ src*="darkmode" ],
		&[ src*="lightmode" ] {
			max-height: 500px;
			max-width: 100%;
			width: auto !important;
			height: auto !important;

			&:not( [ src*="padded" ] ) {
				padding: 15px;
			}
		}
	}

	&.darkmode {
		html:not( [ data-darkreader-scheme="dark" ] ):not( .theme--dark ) .fo-nttax-infobox-wrapper:not( .infobox-darkmodeforced ) & {
			display: none;
		}

		html:not( [ data-darkreader-scheme="dark" ] ):not( .theme--dark ) .infobox-darkmodeforced & {
			background: #1e2021;
		}

		.infobox-darkmodeforced & img {
			background-position: center;
			background-size: cover;

			&[ src*="ESL_Pro_League" ] {
				background-image: url( //liquipedia.net/commons/images/6/6d/ESL_Pro_League_2019_background.png );
			}

			&[ src*="ESL_Challenger_League" ] {
				background-image: url( //liquipedia.net/commons/images/4/4e/ESL_Challenger_League_background.jpg );
			}
		}
	}

	&.lightmode {
		html[ data-darkreader-scheme="dark" ] &,
		html.theme--dark &,
		.infobox-darkmodeforced & {
			display: none;
		}
	}
}

/*******************************************************************************
Template(s): Player photos ( cutout shots ) styling
Author(s): iMarbot
*******************************************************************************/
.infobox-image img[ src*="playerphoto" ] {
	max-height: 500px;
	max-width: 100%;
	width: auto !important;
	height: auto !important;

	&:not( [ src*="padded" ] ) {
		padding: 15px 15px 0;
	}
}
