/**
* Generic labels
*/

.generic-label {
	border-radius: calc( var( --label-scale ) * 0.25rem );
	font-size: calc( var( --label-scale ) * 0.6875rem );
	line-height: calc( var( --label-scale ) * 1rem );
	padding: calc( var( --label-scale ) * 0.125rem ) calc( var( --label-scale ) * 0.5rem );
	display: inline-flex;
	align-items: center;
	place-content: center center;
	gap: calc( var( --label-scale ) * 0.25rem );
	align-self: center;
	white-space: nowrap;

	--label-scale: 1;

	&[ data-label-type="result-win" ],
	&[ data-label-type="veto-pick" ],
	&.label--positive {
		color: var( --clr-semantic-positive-20 );
		background-color: var( --clr-semantic-positive-90 );

		.theme--dark & {
			color: var( --clr-semantic-positive-90 );
			background-color: var( --clr-semantic-positive-30 );
		}
	}

	&[ data-label-type="result-draw" ],
	&[ data-label-type="veto-decider" ],
	&.label--gold {
		color: var( --clr-semantic-gold-20 );
		background-color: var( --clr-semantic-gold-90 );

		.theme--dark & {
			color: var( --clr-semantic-gold-90 );
			background-color: var( --clr-semantic-gold-30 );
		}
	}

	&[ data-label-type="veto-protect" ],
	&.label--silver {
		color: var( --clr-semantic-silver-20 );
		background-color: var( --clr-semantic-silver-90 );

		.theme--dark & {
			color: var( --clr-semantic-silver-90 );
			background-color: var( --clr-semantic-silver-30 );
		}
	}

	&[ data-label-type="result-loss" ],
	&[ data-label-type="veto-ban" ],
	&[ data-label-type="veto-defaultban" ],
	&.label--negative {
		color: var( --clr-semantic-negative-40 );
		background-color: var( --clr-semantic-negative-96 );

		.theme--dark & {
			color: var( --clr-semantic-negative-90 );
			background-color: var( --clr-semantic-negative-30 );
		}
	}

	&[ data-label-type="result-default" ],
	&.label--default {
		color: var( --clr-secondary-44 );
		background-color: var( --clr-on-surface-light-primary-8 );

		.theme--dark & {
			color: var( --clr-secondary-90 );
			background-color: var( --clr-on-surface-dark-primary-8 );
		}
	}

	&[ data-label-type^="result" ] {
		height: calc( var( --label-scale ) * 1.25rem );
		gap: unset;

		&:empty {
			width: calc( var( --label-scale ) * 1.25rem );
			font-weight: bold;
			padding: unset;

			&[ data-label-type="result-win" ]::before {
				content: "W";
			}

			&[ data-label-type="result-draw" ]::before {
				content: "D";
			}

			&[ data-label-type="result-loss" ]::before {
				content: "L";
			}

			&[ data-label-type="result-default" ]::before {
				content: "-";
			}
		}
	}

	&[ data-label-type^="veto" ] {
		text-transform: uppercase;
		font-weight: bold;
	}

	&.label--placement {
		width: calc( var( --label-scale ) * 1.25rem );
		font-weight: bold;
		color: var( --placement-text-color );
		background-color: var( --placement-solid-color );

		--placement-text-color: var( --clr-secondary-100, #ffffff );

		.theme--dark & {
			--placement-text-color: var( --clr-secondary-9, #181818 );
		}

		&:not( [ data-placement-type ] ) {
			--placement-solid-color: var( --clr-on-surface-light-primary-4 );
			--placement-text-color: var( --clr-secondary-25 );

			.theme--dark & {
				--placement-solid-color: var( --clr-on-surface-dark-primary-8 );
				--placement-text-color: var( --clr-secondary-90 );
			}
		}

		&[ data-label-type="placement-minimum" ] {
			color: var( --placement-solid-color );
			background-color: rgb( from var( --placement-solid-color ) r g b / 0.08 );
			box-shadow: 0 0 0 calc( var( --label-scale ) * 0.0125rem ) var( --placement-solid-color ) inset;
		}

		&[ data-placement-type="byeup" ] {
			--placement-solid-color: #8046a3;

			.theme--dark & {
				--placement-solid-color: #cc9fe7;
			}
		}

		&[ data-placement-type="seedup" ] {
			--placement-solid-color: #006bd4;

			.theme--dark & {
				--placement-solid-color: #a9caeb;
			}
		}

		&[ data-placement-type="up" ] {
			--placement-solid-color: var( --clr-semantic-positive-30 );

			.theme--dark & {
				--placement-solid-color: #65a765;
			}
		}

		&[ data-placement-type="stayup" ] {
			--placement-solid-color: #094e09;

			.theme--dark & {
				--placement-solid-color: #b6f8b6;
			}
		}

		&[ data-placement-type="stay" ] {
			--placement-solid-color: #966f00;

			.theme--dark & {
				--placement-solid-color: #e5c976;
			}
		}

		&[ data-placement-type="staydown" ] {
			--placement-solid-color: #d4400f;

			.theme--dark & {
				--placement-solid-color: #f2a288;
			}
		}

		&[ data-placement-type="down" ] {
			--placement-solid-color: var( --clr-semantic-negative-40 );

			.theme--dark & {
				--placement-solid-color: #fc6868;
			}
		}
	}

	&.label--standings-result {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		justify-items: center;
		padding: 0.25rem;
	}
}
