/*******************************************************************************
Template(s): Main Page
Author(s): salle, Clabfun
*******************************************************************************/

td.match-filler div.matchticker-tournament-wrapper {
	width:180px;
	float:right;
	white-space:nowrap;
  }


  td.match-filler div.matchticker-tournament-name {
	  overflow:hidden;
	  text-overflow:ellipsis;
	  max-width: 170px;
	  vertical-align:middle;
	  white-space:nowrap;
	  font-size:11px;
	  height:16px;
	  margin-top:3px;
  }
