/*******************************************************************************
Template(s): MatchTable
*******************************************************************************/
.recent-matches-bg-win {
	background-color: var( --table-green-background-color, #f0fff0 ) !important;
}

.recent-matches-bg-tie {
	background-color: var( --table-yellow-background-color, #f9f9c7 ) !important;
}

.recent-matches-bg-lose {
	background-color: var( --table-red-background-color, #f9f0f2 ) !important;
}

.match-table-wrapper table.table2__table tr.table2__row--body {
	&.match-table-row__win {
		background-color: var( --clr-semantic-positive-90 );

		&:hover {
			background-color: var( --clr-semantic-positive-80 );
		}

		.theme--dark & {
			background-color: var( --clr-semantic-positive-10 );

			&:hover {
				background-color: var( --clr-semantic-positive-20 );
			}
		}
	}

	&.match-table-row__draw {
		background-color: var( --clr-semantic-gold-90 );

		&:hover {
			background-color: var( --clr-semantic-gold-80 );
		}

		.theme--dark & {
			background-color: var( --clr-semantic-gold-10 );

			&:hover {
				background-color: var( --clr-semantic-gold-20 );
			}
		}
	}

	&.match-table-row__loss {
		background-color: var( --clr-semantic-negative-90 );

		&:hover {
			background-color: var( --clr-semantic-negative-80 );
		}

		.theme--dark & {
			background-color: var( --clr-semantic-negative-10 );

			&:hover {
				background-color: var( --clr-semantic-negative-20 );
			}
		}
	}
}
