$team-icon-wrapper-size: 24px;
$team-icon-size: 22px;

@mixin set-team-icon-size($wrapper-size, $icon-size) {
	width: $wrapper-size;
	height: $wrapper-size;
	line-height: $wrapper-size;
	text-align: center;

	img {
		max-width: $icon-size;
		max-height: $icon-size;
		width: auto;
		height: auto;
		vertical-align: middle;
	}
}

.match-info {
	display: flex;
	padding: 0.75rem 0;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	border-bottom: 1px solid var( --clr-border );

	&-countdown {
		display: flex;
		justify-content: center;
		align-self: stretch;

		.timer-object {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			align-self: stretch;
		}

		.timer-object-countdown,
		.timer-object-date {
			padding: 0.25rem 0.5rem;
			border-radius: 0.25rem;
			font-weight: bold;
			font-size: 0.6875rem;

			&.timer-object-countdown-live {
				.theme--light & {
					color: #ffffff;
					background-color: #b81414;
				}

				.theme--dark & {
					color: #2e0505;
					background-color: #f5a3a3;
				}
			}

			&.timer-object-countdown-completed {
				.theme--light & {
					color: #ffffff;
					background-color: #1d7c1d;
				}

				.theme--dark & {
					color: #0a290a;
					background-color: #adebad;
				}
			}

			&:not( .timer-object-countdown-live, .timer-object-countdown-completed ) {
				color: var( --clr-on-background );

				.theme--light & {
					background-color: #00000014;
				}

				.theme--dark & {
					background-color: #ffffff14;
				}
			}
		}

		.timer-object-separator {
			display: none;
		}
	}

	&-header {
		display: flex;
		align-items: center;
		flex: 1;
		font-size: 0.875rem;
		line-height: 1.25rem;
		align-self: stretch;

		&-opponent {
			display: flex;
			flex: 1;
			min-width: 0;

			&-left {
				justify-content: flex-end;
			}
		}

		&-scoreholder {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 0.25rem;

			&-icon {
				display: flex;
				width: 1rem;
				height: 1rem;
				justify-content: center;
				align-items: center;
			}

			&-scorewrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-basis: 4.5rem;
			}

			&-upper {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-lower {
				font-size: 0.75rem;
				line-height: 1rem;
				opacity: 0.7;
			}

			&-score {
				display: flex;
				width: 1.5rem;
				height: 1rem;
				justify-content: center;
				align-items: center;
			}

			&-divider {
				display: flex;
				width: 0.5rem;
				justify-content: center;
				align-items: center;
			}
		}

		&-winner {
			font-weight: bold;
		}
	}

	&-headerbr {
		display: flex;
		align-items: center;
		flex: 1;
		flex-direction: column;
		gap: 0.25rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		align-self: stretch;

		&-positionrow {
			display: flex;
			align-items: center;
			align-self: stretch;
			gap: 0.25rem;
		}

		&-positionholder {
			display: flex;
			gap: 0.25rem;
			align-items: center;
			width: 2.75rem;
		}

		&-opponent {
			display: flex;
			min-width: 0;
		}
	}

	&-tournament {
		display: flex;
		padding: 0.5rem 0.75rem;
		gap: 0.5rem;
		align-self: stretch;
		border-radius: 0.5rem;
		font-size: 0.75rem;
		line-height: 1.125rem;
		align-items: center;

		.theme--light & {
			background-color: #0000000a;
		}

		.theme--dark & {
			background-color: #ffffff0a;
		}

		/**
			Mostly duplicated from Mainpage.scss
			tournaments-list-name span.icon-small
			TODO: Rework this!
		**/
		span.league-icon-small-image,
		span.icon-small {
			min-height: 21px;
			min-width: 21px;
		}

		.league-icon-small-image img,
		.icon-small img {
			max-height: 21px;
			max-width: 21px;
		}
	}

	&-links-wrapper {
		align-self: stretch;
	}

	&-links {
		display: flex;
		gap: 0.5rem;
		align-self: stretch;

		.match-button-cta-text {
			display: none;
		}

		/* Grow and cta when there at most 2 streams, and there's no match page button visible for the user */
		&:has( > :nth-child( -n + 2 ):last-child ):not( :has( .match-page-button ) ),
		body:not( .logged-in ) &:has( > :nth-child( -n + 3 ):last-child ):has( .match-page-button.show-when-logged-in ) {
			& > div {
				flex: 1;
			}

			& .btn {
				width: 100%;
			}

			& .match-button-cta-text {
				display: inline;
			}
		}
	}

	&-vods-area {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax( 16%, 1fr ) );
		margin-top: 0.5rem;
		padding: 0.5rem;
		gap: 0.25rem;
		border-radius: 0.5rem;
		text-align: center;

		.theme--light & {
			border: 0.0625rem solid var( --clr-secondary-80 );
			background-color: #ebebeb;
		}

		.theme--dark & {
			border: 0.0625rem solid var( --clr-on-surface-dark-primary-40 );
			background-color: var( --clr-on-surface-dark-primary-8 );
		}

		.btn {
			.theme--light & {
				background-color: var( --clr-secondary-100 );
			}

			.theme--dark & {
				background-color: var( --clr-on-surface-dark-primary-8 );
			}
		}
	}

	&--vertical {
		border-radius: 0.25rem;
		border: 1px solid;
		padding: 0.5rem;

		.theme--light & {
			border-color: var( --clr-on-surface-light-primary-8 );
			background-color: var( --clr-on-surface-light-primary-4 );
		}

		.theme--dark & {
			border-color: var( --clr-on-surface-dark-primary-8 );
			background-color: var( --clr-secondary-9 );
		}

		.match-info-top-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		.match-info-stage {
			width: 100%;
			font-size: 0.6875rem;
		}

		.match-info-header-vertical {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			width: 100%;
		}

		.match-info-opponent-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 0.5rem;
			width: 100%;

			&-loser {
				opacity: 0.6;
			}
		}

		.match-info-opponent-identity {
			flex: 1;
			min-width: 0;

			.team-template-image-icon {
				@include set-team-icon-size($team-icon-wrapper-size, $team-icon-size);
			}
		}

		.match-info-opponent-score {
			font-size: 0.75rem;
			text-align: right;
		}

		.match-info-bestof {
			text-align: center;
			font-size: 0.75rem;
			color: var( --clr-on-background-secondary );
		}

		.match-info-ffa-info {
			width: 100%;
			font-size: 0.6875rem;
		}

		.match-info-header:not( .match-info-header-vertical ) {
			display: none;
		}

		.match-info-header {
			flex-direction: column;
			gap: 0.5rem;

			&-opponent {
				width: 100%;
				justify-content: center;

				&-left,
				&-right {
					justify-content: center;
				}
			}

			&-scoreholder {
				width: 100%;
				justify-content: center;
			}
		}

		.match-info-tournament {
			justify-content: center;
			margin-top: 0.75rem;
		}
	}
}
