/*******************************************************************************
Modules: ParticipantTable/Base, ParticipantTable/Custom, ParticipantTable/Starcraft
Author: hjpalpha
*******************************************************************************/

.participantTable {
	border-top: 1px solid var( --table-border-color, #bbbbbb );
	border-left: 1px solid var( --table-border-color, #bbbbbb );
	margin-bottom: 8px;
	overflow-x: auto;
}

.participantTable-title {
	padding: 4px;
	background-color: var( --table-header-variant-background-color, #eaecf0 );
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.participantTable-row {
	width: 100% !important;
}

.participantTable-row:not( .participantTable-faction ) {
	width: 100% !important;
	display: flex;
	flex-wrap: wrap;
}

.participantTable-entry {
	background-color: inherit;
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	padding: 8px 4px 4px;
	text-align: left;
	transition: 0.5s;
	transition-property: border-color;
}

.participantTable-tbd {
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	padding: 4px;
	font-style: italic;
	text-align: center;
	width: 100%;
}

.participantTable-empty {
	flex: 1 0 auto;
}

@media ( max-width: 900px ) {
	.participantTable:not( .participantTable-faction ) {
		width: 100% !important;
	}

	.participantTable {
		min-width: 100% !important;
	}

	.participantTable-empty {
		display: none;
	}

	.participantTable-entry:not( .participantTable-faction ) {
		flex: 1 0 auto;
		width: unset !important;
		min-width: 50%;
		min-height: 36px;
	}
}

.participantTable-entry.brkts-opponent-hover-active {
	box-shadow: -1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 0 -1px 2px rgba( 0, 0, 0, 0.7 ) inset, 0 1px 2px rgba( 0, 0, 0, 0.7 ) inset;
}

.participantTable-entry.brkts-opponent-hover::after {
	content: none;
}

.brkts-opponent-hover > .participantTable-entry {
	position: relative;
	transition: 0.5s;
	transition-property: border-color;
}

.brkts-opponent-hover-active > .participantTable-entry {
	border-color: transparent;
}

.brkts-opponent-hover > .participantTable-entry::after {
	clip-path: inset( -4px 0 -4px -1px );
	content: "";
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: 0.5s;
	transition-property: box-shadow;
	width: 100%;
	z-index: 5;
}

.brkts-opponent-hover > .participantTable-entry:first-child::after {
	clip-path: inset( -4px 0 -4px -4px );
}

.brkts-opponent-hover > .participantTable-entry:last-child::after {
	clip-path: inset( -4px -4px -4px -1px );
}

.brkts-opponent-hover > .participantTable-entry:only-child::after {
	clip-path: inset( -4px );
}

.brkts-opponent-hover-active > .participantTable-entry::after {
	box-shadow: -1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 0 -1px 2px rgba( 0, 0, 0, 0.7 ) inset, 0 1px 2px rgba( 0, 0, 0, 0.7 ) inset;
}

/* specific overwrites for faction participant tables */
.participantTable.participantTable-faction {
	display: inline-grid;
}

.participantTable-faction > .participantTable-row > .participantTable-tbd,
.participantTable-faction > .participantTable-row > .participantTable-title {
	grid-column: ~"1 / -1";
}

.participantTable-faction > .participantTable-row {
	display: contents;
}

.participantTable-faction-header {
	font-weight: bold;
	text-align: center;
}
