/*******************************************************************************
Template: OpponentList
Author: warnull
*******************************************************************************/

.opponent-list-wrapper {
	margin: -2px;
	padding: 2px;
}

.opponent-list {
	border-bottom: 1px solid var(--table-border-color,#bbbbbb);
	border-left: 1px solid var(--table-border-color,#bbbbbb);
	border-right: 1px solid var(--table-border-color,#bbbbbb);
	display: inline-grid;
}

@media (max-width: 435px) {
	.opponent-list {
		min-width: 100% !important;
	}
}

.opponent-list-cell {
	align-items: center;
	background-color: inherit;
	border-top: 1px solid var(--table-border-color,#bbbbbb);
	display: flex;
	min-width: 0;
	padding: 5px;
	text-align: left;
	transition-property: border-color;
	transition: 0.5s;
}

.opponent-list-cell-content {
	flex: 1 1;
	min-width: 0;
}

.opponent-list-title,
.opponent-list-section-title {
	background-color: var(--table-header-variant-background-color,#eaecf0);
	font-weight: bold;
	grid-column-end: -1;
	grid-column-start: 1;
	text-align: center;
}

.opponent-list-section {
	display: contents;
}

@supports not (display: contents) {
	.opponent-list-section {
		display: block;
		grid-column-end: -1;
		grid-column-start: 1;
	}
	.opponent-list-party {
		display: flex;
		justify-items: stretch;
	}
	.opponent-list-party > * {
		flex: 1 1;
	}
}

.opponent-list-tbd {
	font-style: italic;
	grid-column-end: -1;
	grid-column-start: 1;
	text-align: center;
}

.opponent-list-party.brkts-opponent-hover::after {
	content: none;
}

.brkts-opponent-hover > .opponent-list-cell {
	position: relative;
	transition-property: border-color;
	transition: 0.5s;
}

.brkts-opponent-hover-active > .opponent-list-cell {
	border-color: transparent;
}

.brkts-opponent-hover > .opponent-list-cell::after {
	clip-path: inset(-5px 0 -5px -1px);
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition-property: box-shadow;
	transition: 0.5s;
	width: 100%;
	z-index: 5;
}

.brkts-opponent-hover > .opponent-list-cell:first-child::after {
	clip-path: inset(-5px 0 -5px -5px);
}

.brkts-opponent-hover > .opponent-list-cell:last-child::after {
	clip-path: inset(-5px -5px -5px -1px);
}

.brkts-opponent-hover > .opponent-list-cell:only-child::after {
	clip-path: inset(-5px);
}

.brkts-opponent-hover-active > .opponent-list-cell::after {
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.7), 1px 0 2px rgba(0, 0, 0, 0.7), 0 -1px 2px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.7);
}

.opponent-list-entry:nth-of-type(2n) {
	background-color: var( --table-striped-background-color, var( --clr-surface-2, #f5f5f5 ) );
}

.opponent-list-team {
	grid-column-end: -1;
	grid-column-start: 1;
	min-width: 120px;
}

.opponent-list-party {
	display: contents;
}

.opponent-list-player {
	justify-content: space-between;
	min-width: 120px;
}

.opponent-list-literal {
	font-style: italic;
	grid-column-end: -1;
	grid-column-start: 1;
	min-width: 120px;
}


/**
 * Styles specific to starcraft/starcraft2
 */

.starcraft-opponent-list-archon-race {
	min-width: 40px;
}

/*******************************************************************************
Template: StarcraftParticipantTable
Author: warnull
*******************************************************************************/

.participant-table {
	border-bottom: 1px solid var(--table-border-color,#bbbbbb);
	border-right: 1px solid var(--table-border-color,#bbbbbb);
	display: inline-grid;
	margin-bottom: 4px;
	max-width: 100%;
}

@media (max-width: 415px) {
	.participant-table {
		min-width: 100% !important;
	}
}

.participant-table .opponent-list-cell {
	border-left: 1px solid var(--table-border-color,#bbbbbb);
}

.participant-table-header {
	background-color: var(--table-header-variant-background-color,#eaecf0);
	display: contents;
}

.participant-table-race-header {
	font-weight: bold;
	text-align: center;
}

.participant-table-section {
	display: contents;
}

@supports not (display: contents) {
	.participant-table-header,
	.participant-table-section {
		display: grid;
		grid-column-end: -1;
		grid-column-start: 1;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 575px) {
	.participant-table-entry {
		padding-right: 0;
	}

	.participant-table-entry .team-template-image-icon {
		width: 40px;
		height: 20px;
	}

	.participant-table-entry .team-template-image-icon img {
		max-width: 40px;
		max-height: 20px;
	}

	.participant-table-entry .team-template-image-legacy img {
		width: 48px;
		height: 20px;
	}
}

.participant-table-entry {
	flex-wrap: wrap;
	justify-content: space-between;
}

.participant-table-entry.brkts-opponent-hover {
	transition-property: border-color;
	transition: 0.5s;
}

.participant-table-entry.brkts-opponent-hover-active {
	border-color: transparent;
}

.participant-table-entry > .team-template-team-icon {
	flex: 1 0;
	text-align: right;
}

/*******************************************************************************
Modules: ParticipantTable/Base, ParticipantTable/Custom, ParticipantTable/Starcraft
Author: hjpalpha
*******************************************************************************/

.participantTable {
	border-top: 1px solid var(--table-border-color,#bbbbbb);
	border-left: 1px solid var(--table-border-color,#bbbbbb);
	margin-bottom: 8px;
	overflow-x: auto;
}

.participantTable-title {
	padding: 4px;
	background-color: var(--table-header-variant-background-color,#eaecf0);
	border-bottom: 1px solid var(--table-border-color,#bbbbbb);
	border-right: 1px solid var(--table-border-color,#bbbbbb);
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.participantTable-row {
	width: 100% !important;
}

.participantTable-row:not(.participantTable-faction) {
	width: 100% !important;
	display: flex;
	flex-wrap: wrap;
}

.participantTable-entry {
	background-color: inherit;
	border-bottom: 1px solid var(--table-border-color,#bbbbbb);
	border-right: 1px solid var(--table-border-color,#bbbbbb);
	padding: 8px 4px 4px;
	text-align: left;
	transition-property: border-color;
	transition: 0.5s;
}

.participantTable-tbd {
	border-bottom: 1px solid var(--table-border-color,#bbbbbb);
	border-right: 1px solid var(--table-border-color,#bbbbbb);
	padding: 4px;
	font-style: italic;
	text-align: center;
	width: 100%;
}

.participantTable-empty {
	flex: 1 0 auto;
}

@media ( max-width: 900px ) {
	.participantTable:not(.participantTable-faction) {
		width: 100% !important;
	}

	.participantTable {
		min-width: 100% !important;
	}

	.participantTable-empty {
		display: none;
	}

	.participantTable-entry:not(.participantTable-faction) {
		flex: 1 0 auto;
		width: unset !important;
		min-width: 50%;
		min-height: 36px;
	}
}

.participantTable-entry.brkts-opponent-hover-active {
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.7) inset, 1px 0 2px rgba(0, 0, 0, 0.7) inset, 0 -1px 2px rgba(0, 0, 0, 0.7) inset, 0 1px 2px rgba(0, 0, 0, 0.7) inset;
}

.participantTable-entry.brkts-opponent-hover::after {
	content: none;
}

.brkts-opponent-hover > .participantTable-entry {
	position: relative;
	transition-property: border-color;
	transition: 0.5s;
}

.brkts-opponent-hover-active > .participantTable-entry {
	border-color: transparent;
}

.brkts-opponent-hover > .participantTable-entry::after {
	clip-path: inset(-4px 0 -4px -1px);
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition-property: box-shadow;
	transition: 0.5s;
	width: 100%;
	z-index: 5;
}

.brkts-opponent-hover > .participantTable-entry:first-child::after {
	clip-path: inset(-4px 0 -4px -4px);
}

.brkts-opponent-hover > .participantTable-entry:last-child::after {
	clip-path: inset(-4px -4px -4px -1px);
}

.brkts-opponent-hover > .participantTable-entry:only-child::after {
	clip-path: inset(-4px);
}

.brkts-opponent-hover-active > .participantTable-entry::after {
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.7) inset, 1px 0 2px rgba(0, 0, 0, 0.7) inset, 0 -1px 2px rgba(0, 0, 0, 0.7) inset, 0 1px 2px rgba(0, 0, 0, 0.7) inset;
}

/* specific overwrites for faction participant tables */
.participantTable.participantTable-faction {
	display: inline-grid;
}

.participantTable-faction > .participantTable-row > .participantTable-tbd,
.participantTable-faction > .participantTable-row > .participantTable-title {
	grid-column-end: -1;
	grid-column-start: 1;
}

.participantTable-faction > .participantTable-row {
	display: contents;
}

.participantTable-faction-header {
	font-weight: bold;
	text-align: center;
}
