/*******************************************************************************
Modules: ParticipantTable/Base, ParticipantTable/Custom, ParticipantTable/Starcraft
Author: hjpalpha
*******************************************************************************/

.participantTable {
	border-top: 1px solid var( --table-border-color, #bbbbbb );
	border-left: 1px solid var( --table-border-color, #bbbbbb );
	margin-bottom: 8px;
	overflow-x: auto;

	@media ( max-width: 900px ) {
		min-width: 100% !important;

		&:not( .participantTable-faction ) {
			width: 100% !important;
		}
	}
}

.participantTable-title {
	padding: 4px;
	background-color: var( --table-header-variant-background-color, #eaecf0 );
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.participantTable-row {
	width: 100% !important;

	&:not( .participantTable-faction ) {
		width: 100% !important;
		display: flex;
		flex-wrap: wrap;
	}
}

.participantTable-seeding {
	display: grid;
	grid-template-columns: 50px 1fr;
}

.participantTable-entry {
	background-color: inherit;
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	padding: 4px;
	text-align: left;
	transition: 0.5s;
	transition-property: border-color;

	@media ( max-width: 900px ) {
		&:not( .participantTable-faction ) {
			flex: 1 0 auto;
			width: unset !important;
			min-width: 50%;
			min-height: 36px;
		}
	}

	&.brkts-opponent-hover-active {
		box-shadow: -1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 0 -1px 2px rgba( 0, 0, 0, 0.7 ) inset, 0 1px 2px rgba( 0, 0, 0, 0.7 ) inset;

		.theme--dark & {
			box-shadow: -1px 0 2px rgba( 255, 255, 255, 0.7 ) inset, 1px 0 2px rgba( 255, 255, 255, 0.7 ) inset, 0 -1px 2px rgba( 255, 255, 255, 0.7 ) inset, 0 1px 2px rgba( 255, 255, 255, 0.7 ) inset;
		}
	}

	&.brkts-opponent-hover::after {
		content: none;
	}

	.brkts-opponent-hover > & {
		position: relative;
		transition: 0.5s;
		transition-property: border-color;

		&::after {
			clip-path: inset( -4px 0 -4px -1px );
			content: "";
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: 0.5s;
			transition-property: box-shadow;
			width: 100%;
			z-index: 5;
		}

		&:first-child::after {
			clip-path: inset( -4px 0 -4px -4px );
		}

		&:last-child::after {
			clip-path: inset( -4px -4px -4px -1px );
		}

		&:only-child::after {
			clip-path: inset( -4px );
		}
	}

	.brkts-opponent-hover-active > & {
		border-color: transparent;

		&::after {
			box-shadow: -1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 1px 0 2px rgba( 0, 0, 0, 0.7 ) inset, 0 -1px 2px rgba( 0, 0, 0, 0.7 ) inset, 0 1px 2px rgba( 0, 0, 0, 0.7 ) inset;

			.theme--dark & {
				box-shadow: -1px 0 2px rgba( 255, 255, 255, 0.7 ) inset, 1px 0 2px rgba( 255, 255, 255, 0.7 ) inset, 0 -1px 2px rgba( 255, 255, 255, 0.7 ) inset, 0 1px 2px rgba( 255, 255, 255, 0.7 ) inset;
			}
		}
	}
}

.participantTable-tbd {
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	padding: 4px;
	font-style: italic;
	text-align: center;
	width: 100%;
}

.participantTable-seed {
	background-color: inherit;
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	padding: 8px 4px 4px;
	text-align: center;
	width: 100%;
}

.participantTable-empty {
	flex: 1 0 auto;

	@media ( max-width: 900px ) {
		display: none;
	}
}

/* specific overwrites for faction participant tables */
.participantTable.participantTable-faction {
	display: inline-grid;
}

.participantTable-faction > .participantTable-row {
	display: contents;

	> .participantTable-tbd,
	> .participantTable-title {
		grid-column: 1 / -1;
	}
}

.participantTable-faction-header {
	font-weight: bold;
	text-align: center;
}

/*******************************************************************************
Template(s): Participants Tables
Author(s): FO-nTTaX
*******************************************************************************/
.participants-table-scroller {
	overflow: auto;
}

.participants-table .participants-row .participants-cell {
	width: 200px;
}

.participants-table-buttons {
	display: none;
	font-size: 200%;

	&::after {
		clear: both;
		content: " ";
		display: block;
	}
}

.participants-table-button-left {
	float: left;
	cursor: pointer;
}

.participants-table-button-right {
	float: right;
	cursor: pointer;
}

.participants-table-button-left.inactive,
.participants-table-button-right.inactive {
	opacity: 0.5;
	cursor: initial;
}

@media ( max-width: 600px ) {
	.participants-table .participants-row .participants-cell {
		min-width: 200px;
	}

	.participants-table-columns-2 .participants-row .participants-cell {
		width: 50%;
	}

	.participants-table-columns-3 .participants-row .participants-cell {
		width: 33%;
	}

	.participants-table-columns-4 .participants-row .participants-cell {
		width: 25%;
	}

	.participants-table-columns-2 {
		width: 180% !important;
	}

	.participants-table-columns-3 {
		width: 270% !important;
	}

	.participants-table-columns-4 {
		width: 360% !important;
	}

	.participants-table-buttons {
		display: block;
	}
}

/*******************************************************************************
Template(s): Module:ParticipantTable
Author(s): Rapture
*******************************************************************************/
.participanttable .team-template-image img {
	height: 20px;
	width: 48px;
}

@media ( max-width: 767px ) {
	.wiki-ageofempires .participanttable .player-row {
		display: flex;
		flex-wrap: wrap;

		> td {
			flex: 1 0 auto;
			width: unset !important;
			min-width: 50%;
			min-height: 35px;
			border-width: 1px 1px 0 0 !important;
		}
	}
}
