/*******************************************************************************
Template(s): Achievement Table Placement Numbers
Author(s): spazer, Lafungo
*******************************************************************************/
.placement-text {
	text-shadow: 1px 1px rgba( 64, 64, 64, 0.4 ), 1px -1px rgba( 64, 64, 64, 0.4 ), -1px -1px rgba( 64, 64, 64, 0.4 ), -1px 1px rgba( 64, 64, 64, 0.4 );
	font-weight: bold;
	color: #ffffff;
}

.placement-box {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	min-width: 2.75rem;
	height: 1.5rem;
	font-size: 0.8125rem;
	line-height: 1.25;
}

.placement-1 {
	background-color: var( --achievement-placement-1, #ffd739 ); //rgb( 255, 221, 60 );
}

.placement-2 {
	background-color: var( --achievement-placement-2, #bebebe ); //rgb( 154, 154, 154 );
}

.placement-3 {
	background-color: var( --achievement-placement-3, #bb8644 ); //rgb( 177, 132, 42 );
}

.placement-4 {
	background-color: var( --achievement-placement-4, #f8996b );
}

.placement-5 {
	background-color: var( --achievement-placement-5, #27a4a4 );
}

.placement-6 {
	background-color: var( --achievement-placement-6, #1e7d7d );
}

.placement-lightblue {
	background-color: var( --achievement-placement-lightblue, #007f99 );
}

.placement-blue {
	background-color: var( --achievement-placement-blue, #166f82 );
}

.placement-darkblue {
	background-color: var( --achievement-placement-darkblue, #2d606b );
}

.placement-darkgrey {
	background-color: var( --achievement-placement-darkgrey, #445154 );
}

.placement-win {
	background-color: var( --achievement-placement-win, #009e60 );
}

.placement-draw {
	background-color: var( --achievement-placement-draw, #d2b48c );
}

.placement-lose {
	background-color: var( --achievement-placement-lose, #dddddd );
}

.placement-up {
	background-color: var( --achievement-placement-up, #89e069 );
}

.placement-stay {
	background-color: var( --achievement-placement-stay, #fede68 );
}

.placement-down {
	background-color: var( --achievement-placement-down, #ff6f6f );
}

.placement-dnp {
	background-color: var( --achievement-placement-dnp, #d0d0d0 );
}

.green-check {
	color: #00a901;
	font-size: 14px;
	vertical-align: middle;
}
