/*******************************************************************************
Template(s): Prize pool tables
Author(s): FO-nTTaX
*******************************************************************************/

table.prizepooltable:not( .collapsed ) .prizepooltableshow,
table.prizepooltable.collapsed .prizepooltablehide {
	display: none;
}

.prizepooltabletoggle {
	cursor: pointer;
}

.prizepooltable-col-player,
.prizepooltable-col-team {
	min-width: 150px;
}

.prizepooltable-col-two-players {
	min-width: 300px;
}

@media ( max-width: 600px ) {
	.prizepooltable-col-team {
		min-width: 65px;

		a:nth-child( 2 ) {
			display: none;
		}
	}
}

@for $i from 0 through 32 {
	html.client-js .prizepooltable.collapsed[ data-cutafter="#{$i}" ] tr:nth-child( n + #{ $i + 3 } ) {
		display: none;
	}
}

.prizepooltable-header {
	background-color: var( --prize-pool-header-background-color, inherit );
}

.csstable-widget.prizepooltable {
	border: 0.125rem solid var( --prize-pool-header-background-color );

	.csstable-widget-row,
	.csstable-widget-cell {
		border: 0;
	}

	.csstable-widget-row:nth-child( odd ):not( .prizepooltable-header ):not( .ppt-toggle-expand ) {
		background-color: var( --prize-pool-alt-background-color );
	}
}

/* Background colours */

tr.bg-first,
div.bg-first,
tr.bg-p1,
div.bg-p1,
tr.background-color-first-place,
div.background-color-first-place {
	background-color: var( --prize-pool-background-color, #ffe982 );
}

td.bg-first,
td.bg-p1,
td.background-color-first-place {
	background-color: var( --prize-pool-gold, #ffe982 );
}

tr.bg-first,
div.bg-first,
tr.bg-p1,
div.bg-p1,
tr.background-color-first-place,
div.background-color-first-place,
div.csstable-widget-row.background-color-first-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-gold, transparent );
}

tr.bg-first > td.prizepooltable-place,
div.bg-first > td.prizepooltable-place,
tr.bg-p1 > td.prizepooltable-place,
div.bg-p1 > td.prizepooltable-place,
tr.background-color-first-place > td.prizepooltable-place,
div.background-color-first-place > *.prizepooltable-place {
	background-color: var( --prize-pool-gold, inherit );
	color: #ffffff;
}

tr.bg-second,
div.bg-second,
tr.bg-p2,
div.bg-p2,
tr.background-color-second-place,
div.background-color-second-place {
	background-color: var( --prize-pool-background-color, #eeeeee );
}

td.bg-second,
td.bg-p2,
td.background-color-second-place {
	background-color: var( --prize-pool-silver, #eeeeee );
}

tr.bg-second,
div.bg-second,
tr.bg-p2,
div.bg-p2,
tr.background-color-second-place,
div.background-color-second-place,
div.csstable-widget-row.background-color-second-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-silver, transparent );
}

tr.bg-second > td.prizepooltable-place,
div.bg-second > td.prizepooltable-place,
tr.bg-p2 > td.prizepooltable-place,
div.bg-p2 > td.prizepooltable-place,
tr.background-color-second-place > td.prizepooltable-place,
div.background-color-second-place > *.prizepooltable-place {
	background-color: var( --prize-pool-silver, inherit );
	color: #ffffff;
}

tr.bg-third,
div.bg-third,
tr.bg-p3,
div.bg-p3,
tr.background-color-third-place,
div.background-color-third-place:not( :first-child ) {
	background-color: var( --prize-pool-background-color, #f9e8c7 );
}

td.bg-third,
td.bg-p3,
td.background-color-third-place {
	background-color: var( --prize-pool-bronze, #f9e8c7 );
}

tr.bg-third,
div.bg-third,
tr.bg-p3,
div.bg-p3,
tr.background-color-third-place,
div.background-color-third-place,
div.csstable-widget-row.background-color-third-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-bronze, transparent );
}

tr.bg-third > td.prizepooltable-place,
div.bg-third > td.prizepooltable-place,
tr.bg-p3 > td.prizepooltable-place,
div.bg-p3 > td.prizepooltable-place,
tr.background-color-third-place > td.prizepooltable-place,
div.background-color-third-place > *.prizepooltable-place {
	background-color: var( --prize-pool-bronze, inherit );
	color: #ffffff;
}

tr.bg-fourth,
div.bg-fourth,
tr.bg-p4,
div.bg-p4,
tr.background-color-fourth-place,
div.background-color-fourth-place {
	background-color: var( --prize-pool-background-color, #f9dec7 );
}

td.bg-fourth,
td.bg-p4,
td.background-color-fourth-place {
	background-color: var( --prize-pool-copper, #f9dec7 );
}

tr.bg-fourth,
div.bg-fourth,
tr.bg-p4,
div.bg-p4,
tr.background-color-fourth-place,
div.background-color-fourth-place,
div.csstable-widget-row.background-color-fourth-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-copper, transparent );
}

tr.bg-fourth > td.prizepooltable-place,
div.bg-fourth > td.prizepooltable-place,
tr.bg-p4 > td.prizepooltable-place,
div.bg-p4 > td.prizepooltable-place,
tr.background-color-fourth-place > td.prizepooltable-place,
div.background-color-fourth-place > *.prizepooltable-place {
	background-color: var( --prize-pool-copper, inherit );
	color: #ffffff;
}

div.csstable-widget-row.bg-win {
	div.prizepooltable > & {
		/* need the `!important` due to bg-win ( sadly ) having an important in one of its definitions ... */
		background-color: inherit !important;
	}

	> .csstable-widget-cell {
		border-bottom: 0.125rem solid var( --clr-forest-background-color, transparent );
	}
}

div.bg-win > *.prizepooltable-place {
	background-color: var( --clr-forest-background-color, inherit );
}

div.csstable-widget-row.bg-lose {
	background-color: inherit;

	> .csstable-widget-cell {
		border-bottom: 0.125rem solid var( --clr-cinnabar-background-color, transparent );
	}
}

div.bg-lose > *.prizepooltable-place {
	background-color: var( --clr-cinnabar-background-color, inherit );
}

tr.background-color-disqualified,
div.background-color-disqualified {
	background-color: #dee3ef;
}

tr.background-color-win,
div.background-color-win {
	background-color: #ddf4dd;
}

tr.background-color-lose,
div.background-color-lose {
	background-color: #fbdfdf;
}

tr.background-color-highlight,
div.background-color-highlight {
	background-color: #cce5ea;
}

.prizepooltable-background-variant {
	background-color: var( --prize-pool-variant-background-color, #f2f2f2 );
}

/*******************************************************************************
Template: ( Standardized ) prize pool tables
Author: Rathoz
*******************************************************************************/

.collapsed > .ppt-hide-on-collapse {
	display: none !important;
}

.collapsed .ppt-toggle-expand .general-collapsible-collapse-button,
.general-collapsible:not( .collapsed ) .ppt-toggle-expand .general-collapsible-expand-button {
	display: none !important;
}

.csstable-widget {
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	display: inline-grid;

	&-row:not( .ppt-toggle-expand ) {
		display: contents;
	}

	&-cell {
		border-left: 1px solid var( --table-border-color, #bbbbbb );
		border-top: 1px solid var( --table-border-color, #bbbbbb );
		background: inherit;
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.ppt-toggle-expand {
	grid-column: 1 / -1;

	> * {
		color: unset !important;
		text-decoration: none !important;
	}
}

/*******************************************************************************
Template: ( Standardized ) prize pool section
Author: iMarbot
*******************************************************************************/

.prizepool-section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.prizepool-section-tables {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;

	@media ( max-width: 600px ) {
		> div {
			min-width: 100%;
		}
	}
}
