/*******************************************************************************
Template(s): Prize pool tables
Author(s): FO-nTTaX
*******************************************************************************/

:root {
	--prize-pool-background-color: transparent;
}

.theme--light {
	--prize-pool-variant-background-color: #f2f2f2;
	--prize-pool-header-background-color: #eaecf0;
	--prize-pool-alt-background-color: #f5f5f5;
	--prize-pool-gold: var( --clr-semantic-gold-40 );
	--prize-pool-silver: var( --clr-semantic-silver-40 );
	--prize-pool-bronze: var( --clr-semantic-bronze-40 );
	--prize-pool-copper: var( --clr-semantic-copper-40 );
}

.theme--dark {
	--prize-pool-variant-background-color: var( --clr-moon-20 );
	--prize-pool-header-background-color: var( --table-header-variant-background-color );
	--prize-pool-alt-background-color: var( --clr-secondary-9 );
	--prize-pool-gold: var( --clr-semantic-gold-30 );
	--prize-pool-silver: var( --clr-secondary-39 );
	--prize-pool-bronze: var( --clr-semantic-bronze-20 );
	--prize-pool-copper: var( --clr-semantic-copper-20 );
}

table.prizepooltable:not( .collapsed ) .prizepooltableshow,
table.prizepooltable.collapsed .prizepooltablehide {
	display: none;
}

.prizepooltabletoggle {
	cursor: pointer;
}

.prizepooltable-col-player,
.prizepooltable-col-team {
	min-width: 150px;
}

.prizepooltable-col-two-players {
	min-width: 300px;
}

@media ( max-width: 600px ) {
	.prizepooltable-col-team {
		min-width: 65px;

		a:nth-child( 2 ) {
			display: none;
		}
	}
}

@for $i from 0 through 32 {
	html.client-js .prizepooltable.collapsed[ data-cutafter="#{$i}" ] tr:nth-child( n + #{ $i + 3 } ) {
		display: none;
	}
}

.prizepooltable-header {
	background-color: var( --prize-pool-header-background-color, inherit );
}

.csstable-widget.prizepooltable {
	border: 0.125rem solid var( --prize-pool-header-background-color );

	.csstable-widget-row,
	.csstable-widget-cell {
		border: 0;
	}

	.csstable-widget-row:nth-child( odd ):not( .prizepooltable-header ):not( .ppt-toggle-expand ) {
		background-color: var( --prize-pool-alt-background-color );
	}
}

/* Background colours */

tr.bg-first,
div.bg-first,
tr.bg-p1,
div.bg-p1,
tr.background-color-first-place,
div.background-color-first-place {
	background-color: var( --prize-pool-background-color, #ffe982 );
}

td.bg-first,
td.bg-p1,
td.background-color-first-place {
	background-color: var( --prize-pool-gold, #ffe982 );
}

tr.bg-first,
div.bg-first,
tr.bg-p1,
div.bg-p1,
tr.background-color-first-place,
div.background-color-first-place,
div.csstable-widget-row.background-color-first-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-gold, transparent );
}

tr.bg-first > td.prizepooltable-place,
div.bg-first > td.prizepooltable-place,
tr.bg-p1 > td.prizepooltable-place,
div.bg-p1 > td.prizepooltable-place,
tr.background-color-first-place > td.prizepooltable-place,
div.background-color-first-place > *.prizepooltable-place {
	background-color: var( --prize-pool-gold, inherit );
	color: #ffffff;
}

tr.bg-second,
div.bg-second,
tr.bg-p2,
div.bg-p2,
tr.background-color-second-place,
div.background-color-second-place {
	background-color: var( --prize-pool-background-color, #eeeeee );
}

td.bg-second,
td.bg-p2,
td.background-color-second-place {
	background-color: var( --prize-pool-silver, #eeeeee );
}

tr.bg-second,
div.bg-second,
tr.bg-p2,
div.bg-p2,
tr.background-color-second-place,
div.background-color-second-place,
div.csstable-widget-row.background-color-second-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-silver, transparent );
}

tr.bg-second > td.prizepooltable-place,
div.bg-second > td.prizepooltable-place,
tr.bg-p2 > td.prizepooltable-place,
div.bg-p2 > td.prizepooltable-place,
tr.background-color-second-place > td.prizepooltable-place,
div.background-color-second-place > *.prizepooltable-place {
	background-color: var( --prize-pool-silver, inherit );
	color: #ffffff;
}

tr.bg-third,
div.bg-third,
tr.bg-p3,
div.bg-p3,
tr.background-color-third-place,
div.background-color-third-place:not( :first-child ) {
	background-color: var( --prize-pool-background-color, #f9e8c7 );
}

td.bg-third,
td.bg-p3,
td.background-color-third-place {
	background-color: var( --prize-pool-bronze, #f9e8c7 );
}

tr.bg-third,
div.bg-third,
tr.bg-p3,
div.bg-p3,
tr.background-color-third-place,
div.background-color-third-place,
div.csstable-widget-row.background-color-third-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-bronze, transparent );
}

tr.bg-third > td.prizepooltable-place,
div.bg-third > td.prizepooltable-place,
tr.bg-p3 > td.prizepooltable-place,
div.bg-p3 > td.prizepooltable-place,
tr.background-color-third-place > td.prizepooltable-place,
div.background-color-third-place > *.prizepooltable-place {
	background-color: var( --prize-pool-bronze, inherit );
	color: #ffffff;
}

tr.bg-fourth,
div.bg-fourth,
tr.bg-p4,
div.bg-p4,
tr.background-color-fourth-place,
div.background-color-fourth-place {
	background-color: var( --prize-pool-background-color, #f9dec7 );
}

td.bg-fourth,
td.bg-p4,
td.background-color-fourth-place {
	background-color: var( --prize-pool-copper, #f9dec7 );
}

tr.bg-fourth,
div.bg-fourth,
tr.bg-p4,
div.bg-p4,
tr.background-color-fourth-place,
div.background-color-fourth-place,
div.csstable-widget-row.background-color-fourth-place > .csstable-widget-cell {
	border-bottom: 0.125rem solid var( --prize-pool-copper, transparent );
}

tr.bg-fourth > td.prizepooltable-place,
div.bg-fourth > td.prizepooltable-place,
tr.bg-p4 > td.prizepooltable-place,
div.bg-p4 > td.prizepooltable-place,
tr.background-color-fourth-place > td.prizepooltable-place,
div.background-color-fourth-place > *.prizepooltable-place {
	background-color: var( --prize-pool-copper, inherit );
	color: #ffffff;
}

div.csstable-widget-row.bg-win {
	div.prizepooltable > & {
		/* need the `!important` due to bg-win ( sadly ) having an important in one of its definitions ... */
		background-color: inherit !important;
	}

	> .csstable-widget-cell {
		border-bottom: 0.125rem solid var( --clr-forest-background-color, transparent );
	}
}

div.bg-win > *.prizepooltable-place {
	background-color: var( --clr-forest-background-color, inherit );
}

div.csstable-widget-row.bg-lose {
	background-color: inherit;

	> .csstable-widget-cell {
		border-bottom: 0.125rem solid var( --clr-cinnabar-background-color, transparent );
	}
}

div.bg-lose > *.prizepooltable-place {
	background-color: var( --clr-cinnabar-background-color, inherit );
}

tr.background-color-disqualified,
div.background-color-disqualified {
	background-color: #dee3ef;
}

tr.background-color-win,
div.background-color-win {
	background-color: #ddf4dd;
}

tr.background-color-lose,
div.background-color-lose {
	background-color: #fbdfdf;
}

tr.background-color-highlight,
div.background-color-highlight {
	background-color: #cce5ea;
}

.prizepooltable-background-variant {
	background-color: var( --prize-pool-variant-background-color, #f2f2f2 );
}

/*******************************************************************************
Template: ( Standardized ) prize pool tables
Author: Rathoz
*******************************************************************************/

.collapsed > .ppt-hide-on-collapse {
	display: none !important;
}

.collapsed .ppt-toggle-expand .general-collapsible-collapse-button,
.general-collapsible:not( .collapsed ) .ppt-toggle-expand .general-collapsible-expand-button {
	display: none !important;
}

.csstable-widget {
	border-right: 1px solid var( --table-border-color, #bbbbbb );
	border-bottom: 1px solid var( --table-border-color, #bbbbbb );
	display: inline-grid;

	&-row:not( .ppt-toggle-expand ) {
		display: contents;
	}

	&-cell {
		border-left: 1px solid var( --table-border-color, #bbbbbb );
		border-top: 1px solid var( --table-border-color, #bbbbbb );
		background: inherit;
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.ppt-toggle-expand {
	grid-column: 1 / -1;

	> * {
		color: unset !important;
		text-decoration: none !important;
	}
}

/*******************************************************************************
Template: ( Standardized ) prize pool section
Author: iMarbot
*******************************************************************************/

.prizepool-section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.prizepool-section-tables {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;

	@media ( max-width: 600px ) {
		> div {
			min-width: 100%;
		}
	}
}

/*******************************************************************************
Template: Prize Pool Table
*******************************************************************************/

.prize-pool-table {
	display: grid;
	grid-template-columns: repeat( var( --prize-pool-columns ), auto );
	overflow-x: auto;
	border-radius: 0.5rem;
	border: 1px solid var( --clr-on-surface-light-primary-12 );
	background-color: var( --clr-background, #ffffff );
	color: var( --clr-secondary-16 );
	color-scheme: light;

	.theme--dark & {
		background-color: var( --clr-background, #121212 );
		border-color: var( --clr-on-surface-dark-primary-12 );
		color: var( --clr-secondary-100 );
		color-scheme: dark;
	}

	&-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		> .switch-pill-container {
			width: fit-content;
		}
	}

	&-body {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;

		> .prize-pool-toggle {
			display: inline-block;
			grid-column: 1 / -1;
			padding: 0.5rem 0.75rem;
			place-self: center;
			width: 100%;

			> div {
				position: sticky;
				left: 0.75rem;
			}

			.general-collapsible-default-toggle {
				min-width: unset;

				.general-collapsible-expand-button,
				.general-collapsible-expand-button:visited,
				.general-collapsible-collapse-button,
				.general-collapsible-collapse-button:visited {
					outline: unset;
					color: var( --clr-secondary-7 );

					.theme--dark & {
						color: var( --clr-secondary-90 );
					}
				}
			}
		}

		&:not( .collapsed ) > .should-collapse {
			display: contents;
		}
	}

	&-row {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		grid-template-rows: repeat( var( --prize-pool-row-height, 1 ), auto );
		background-color: var( --prize-pool-placement-background-color );

		--prize-pool-placement-background-color: var( --clr-on-surface-light-primary-4 );

		&.prize-pool-table-header-row {
			background-color: var( --clr-on-surface-light-primary-4 );
			color: var( --clr-secondary-25 );

			.theme--dark & {
				background-color: var( --clr-on-surface-dark-primary-4 );
				color: var( --clr-secondary-80 );
			}
		}

		.theme--dark & {
			--prize-pool-placement-background-color: var( --clr-on-surface-dark-primary-4 );
		}

		&:nth-of-type( even ) {
			--prize-pool-placement-background-color: var( --clr-on-surface-light-primary-8 );

			.theme--dark & {
				--prize-pool-placement-background-color: var( --clr-on-surface-dark-primary-8 );
			}
		}

		&[ data-placement ] {
			border-left: 0.25rem solid var( --prize-pool-placement-color, transparent );

			.generic-label.label--prize-pool-placement {
				background-color: var( --prize-pool-placement-color, transparent );
				box-shadow: 0 1px 1px 0 #000000;
			}
		}

		&[ data-placement="1" ] {
			--prize-pool-placement-color: #f0b419;
			--prize-pool-placement-background-color: #fff9eb;

			.theme--dark & {
				--prize-pool-placement-color: #fbcb50;
				--prize-pool-placement-background-color: hsl( from var( --prize-pool-placement-color ) h s l / 0.16 );
			}
		}

		&[ data-placement="2" ] {
			--prize-pool-placement-color: #58b5e3;
			--prize-pool-placement-background-color: #f0fcff;

			.theme--dark & {
				--prize-pool-placement-color: #91d7f9;
				--prize-pool-placement-background-color: hsl( from var( --prize-pool-placement-color ) h s l / 0.16 );
			}
		}

		&[ data-placement="3" ] {
			--prize-pool-placement-color: #de7d1d;
			--prize-pool-placement-background-color: #fff3ec;

			.theme--dark & {
				--prize-pool-placement-color: #ffb267;
				--prize-pool-placement-background-color: hsl( from var( --prize-pool-placement-color ) h s l / 0.16 );
			}
		}
	}

	&-cell {
		display: flex;
		grid-row: span var( --prize-pool-cell-height, 1 );
		padding: 0.5rem 0.75rem;
		align-items: center;

		&.full-height {
			grid-row: span var( --prize-pool-row-height, 1 );
		}

		&:has( > & ) {
			padding: unset;
		}

		&.prize-cell,
		&.opponent-cell:has( > :nth-child( 2 ) ) {
			display: grid;
			grid-row: span var( --prize-pool-row-height, 1 );
			row-gap: 0.5rem;
			grid-template-rows: subgrid;
		}
	}
}
