/*******************************************************************************
Template(s): Quotes
Author(s): salle
*******************************************************************************/
blockquote.quote {
	font-style: italic;
	overflow: hidden;
	padding: 5px 60px;
	position: relative;
	max-width: 990px;
	font-size: 1rem;

	&::before {
		content: open-quote;
		font-size: 5em;
		position: absolute;
		top: -25px;
		left: 0;
	}

	&::after {
		content: close-quote;
		font-size: 5em;
		position: absolute;
		bottom: -58px;
		right: 10px;
	}

	div.quote-source {
		text-align: right;
	}

	@media ( max-width: 767px ) {
		padding: 15px 30px;

		&::before {
			font-size: 3em;
			top: -15px;
		}

		&::after {
			font-size: 3em;
			bottom: -30px;
		}
	}
}
