/*******************************************************************************
Template(s): SpellCard
Author(s): FO-nTTaX, Rapture
*******************************************************************************/
.spellcard-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;

	.hr {
		height: 0.125rem;
	}

	@media ( max-width: 600px ) {
		display: block;
	}
}

.spellcard {
	display: inline-block;
	max-width: 550px;
	clear: both;
	border-width: 1px;
	border-style: solid;
	background-color: var( --clr-surface-2, #eeeeee );
	margin-right: 1em;

	@media ( max-width: 600px ) {
		margin-right: 0;
		max-width: none;
	}

	@media ( min-width: 2560px ) {
		/* spazer's test changes */
		/* Make spellcards wider for wide screens */
		max-width: 700px;
	}
}

.spellcard-description {
	display: inline-block;
	width: calc( 100% - 124px );
	border-width: 1px 0;
	border-style: solid;
	padding: 5px 0;
	margin: 0 5px;

	@media ( max-width: 600px ) {
		width: auto;
	}
}

.spellcard-infotable {
	display: block;
	clear: left;
	vertical-align: top;
	padding-bottom: 5px;
	margin: 5px 5px 0 5px;

	th {
		display: inline;
		padding-right: 5px;
		vertical-align: top;
		white-space: nowrap;
	}

	td {
		display: inline-block;
		vertical-align: top;
	}
}

.spellcard-interactions {
	display: block;
	vertical-align: top;

	th {
		padding: 3px 5px 0 0;
		vertical-align: top;
	}

	td {
		padding-top: 3px;
		vertical-align: top;
	}
}

.spellcard-notes {
	display: inline-block;
	vertical-align: top;
	flex: 1 0 400px;
	padding-top: 5px;

	@media ( max-width: 600px ) {
		flex: none;
	}
}
