/*******************************************************************************
Template(s): Tab Templates
Author(s): FO-nTTaX
*******************************************************************************/

// Variables
$tabs-border-radius: 0.25rem;
$tabs-active-indicator-height: 3px;
$tabs-nav-padding: 0.75rem;
$tabs-nav-padding-nested: 0.5rem 0.75rem;
$tabs-arrow-width: 2.75rem;

// Theme Colors - Light
$tabs-border-light: var( --clr-secondary-90 );
$tabs-text-light: var( --clr-secondary-39 );
$tabs-text-active-light: var( --clr-secondary-16 );
$tabs-bg-active-light: var( --clr-on-surface-light-primary-4 );
$tabs-bg-hover-light: var( --clr-on-surface-light-primary-4 );

// Theme Colors - Dark
$tabs-border-dark: var( --clr-secondary-25 );
$tabs-text-dark: var( --clr-secondary-80 );
$tabs-text-active-dark: var( --clr-secondary-100 );
$tabs-bg-active-dark: var( --clr-on-surface-dark-primary-8 );
$tabs-bg-hover-dark: var( --clr-on-surface-dark-primary-8 );

/* SHARED CONTENT AREA */
.tabs-content {
	border: 2px solid;
	border-top: 0;
	padding: 0.3125rem;

	.theme--light & {
		border-color: inherit;
	}

	.theme--dark & {
		border-color: $tabs-border-dark;
	}

	& > div:not( .active ) {
		display: none;
	}

	& > div {
		overflow: auto hidden;
	}

	/* Show all tab content heading icons */
	h6 {
		i,
		.fad,
		.fas,
		.far {
			margin-right: 0.25rem;
		}
	}
}

html.client-nojs .tabs-content > div:not( .active ) {
	display: block;
}

/* DYNAMIC TABS */
.tabs-dynamic {
	overflow: visible;

	& > .tabs-content {
		border: unset !important;
		padding: 0.5rem 0 0 0.5rem;
	}

	.tabs-nav-wrapper {
		position: relative;
		display: flex;
		border-bottom: 1px solid;

		.theme--light & {
			border-bottom-color: $tabs-border-light;
		}

		.theme--dark & {
			border-bottom-color: $tabs-border-dark;
		}
	}

	.tabs-nav-wrapper .nav-tabs {
		flex-wrap: nowrap;
		overflow-x: auto;
		scrollbar-width: none;
		border: unset !important;
		margin: 0 !important;

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			flex: 0 0 auto;
			margin: 0;
			border: unset !important;
			height: auto;
			min-height: 2.75rem;

			a {
				display: flex;
				align-items: center;
				gap: 0.25rem;
				padding: $tabs-nav-padding;
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 1.25rem;
				transition: all 0.2s ease;
				border: unset !important;
				background-color: transparent !important;
				border-radius: $tabs-border-radius $tabs-border-radius 0 0;
				height: 100%;

				// Icons within tabs
				i,
				.fad,
				.fas,
				.far {
					font-size: 1rem;
				}

				// Icon-only support
				&:empty,
				span:empty {
					padding: $tabs-nav-padding;
				}

				.theme--light & {
					color: $tabs-text-light !important;

					&:hover {
						color: $tabs-text-light !important;
						background-color: $tabs-bg-hover-light !important;
					}
				}

				.theme--dark & {
					color: $tabs-text-dark !important;

					&:hover {
						color: $tabs-text-dark !important;
						background-color: $tabs-bg-hover-dark !important;
					}
				}
			}

			&.active a {
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: $tabs-active-indicator-height;
					background-color: var( --clr-wiki-theme-primary, #0d61a4 );
				}

				.theme--light & {
					background-color: $tabs-bg-active-light !important;
					color: $tabs-text-active-light !important;

					&:hover {
						color: $tabs-text-active-light !important;
					}
				}

				.theme--dark & {
					background-color: $tabs-bg-active-dark !important;
					color: $tabs-text-active-dark !important;

					&:hover {
						color: $tabs-text-active-dark !important;
					}
				}
			}

			&.hover a {
				.theme--light & {
					background-color: $tabs-bg-hover-light !important;
				}

				.theme--dark & {
					background-color: $tabs-bg-hover-dark !important;
				}
			}
		}
	}

	&.wraps {
		.tabs-nav-wrapper {
			flex-wrap: wrap;
		}

		.tabs-nav-wrapper .nav-tabs {
			flex-wrap: wrap;
			overflow-x: visible;
			scrollbar-width: auto;
		}

		.tabs-nav-wrapper .nav-tabs::-webkit-scrollbar {
			display: initial;
		}

		.tabs-scroll-arrow-wrapper {
			display: none !important;
		}
	}

	&.tabs-variant-vertical {
		.tabs-nav-wrapper .nav-tabs li a {
			flex-direction: column;
			justify-content: center;
			gap: 0.25rem;
			padding: 0.625rem 0.75rem;
			min-height: 4.25rem;
		}
	}

	&.tabs-variant-icon-only {
		.tabs-nav-wrapper .nav-tabs li {
			width: 2.75rem;

			a {
				justify-content: center;

				span {
					display: none;
				}
			}
		}

		.tabs-nav-wrapper .nav-tabs li.show-all {
			width: auto;

			a {
				justify-content: flex-start;
				padding: $tabs-nav-padding;

				span {
					display: inline;
				}
			}
		}
	}

	// Nested Variation (inside .tabs-content)
	.tabs-content & {
		.tabs-nav-wrapper {
			margin-left: 0.75rem;
		}

		.tabs-nav-wrapper .nav-tabs li {
			min-height: 2.25rem;

			a {
				padding: $tabs-nav-padding-nested;
				min-height: 2.25rem;
			}
		}

		// Nested tabs cannot be vertical - force them to horizontal
		&.tabs-variant-vertical {
			.tabs-nav-wrapper .nav-tabs li a {
				flex-direction: row;
				gap: 0.5rem;
				padding: $tabs-nav-padding-nested;
			}
		}

		&.tabs-variant-icon-only {
			.tabs-nav-wrapper .nav-tabs li {
				width: 2.25rem;

				a {
					width: 2.25rem;
					padding: 0;
				}
			}

			.tabs-nav-wrapper .nav-tabs li.show-all {
				width: auto;
				height: 2.25rem;

				a {
					width: auto;
					padding: $tabs-nav-padding;
				}
			}
		}

		.tabs-content {
			padding: 0.5rem 0 0 1.25rem;
		}
	}

	/* Scroll Arrows */
	.tabs-scroll-arrow-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		width: $tabs-arrow-width;
		z-index: 10;
		display: none;
		align-items: center;
		justify-content: center;
		background-color: var( --clr-background );

		&.visible {
			display: flex;
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}

		.tabs-scroll-arrow {
			outline: 0;
			border-radius: 0;

			.theme--light & {
				color: $tabs-text-light;
			}

			.theme--dark & {
				color: $tabs-text-dark;
			}
		}
	}
}

/* STATIC TABS */
.tabs-static {
	overflow: hidden;

	.nav-tabs {
		margin-bottom: 0;

		li {
			float: left;
			border: 2px solid;
			border-bottom: 0 !important;
			cursor: pointer;

			&:not( .active ) {
				cursor: pointer;
			}

			a {
				display: block;
				padding: 0.3125rem 0.625rem;
				line-height: 1.42857143;
				border: 1px solid transparent;
				outline: 0;
				position: relative;
			}

			// Specific alignment for team templates in static tabs
			.team-template-team-standard {
				white-space: nowrap;

				& > * {
					float: left;
				}
			}

			.team-template-image-legacy > *,
			.team-template-image-icon > * {
				padding-right: 0;
			}

			.team-template-text > * {
				padding-left: 0;
			}

			&.active {
				background-color: var( --clr-background );

				.selflink {
					background-color: unset !important;
				}

				a {
					background-color: unset !important;
				}
			}
		}
	}
}

/* PORTAL TABS */
.tabs-portal {
	& > .tabs {
		border: 0;
		margin-bottom: 0;
		margin-left: 0.75rem;

		li {
			border-bottom: 0;
			font-size: 150%;
			font-weight: bold;
			position: relative;
			z-index: 1;

			&.active {
				z-index: 3;
				background-color: #ffffff;
			}
		}
	}

	.tabs-portal-content-wrapper {
		border: 2px solid;
		padding: 0.3125rem;
		margin-top: -0.4375rem;
		z-index: 2;
		position: relative;
	}

	.tabs-portal-content {
		border: 2px solid;
		background-color: #ffffff;
		padding: 0.3125rem;
		overflow: auto hidden;
	}
}

/* Smash Specific */
.tabs-static-games > .nav-tabs > li {
	&:first-of-type {
		margin-right: 0;
	}

	&:last-of-type {
		margin-right: 0.125rem;
	}
}
