.team-participant-card {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: var( --clr-secondary-100, rgba( 255, 255, 255, 1 ) );
	border: 1px solid var( --clr-on-surface-light-primary-8, rgba( 0, 0, 0, 0.08 ) );
	padding: 0.5rem 0;

	&-header {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		align-self: stretch;
		padding: 0 0.5rem;

		&-opponent {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			flex: 1 0 0;
		}

		&-label {
			display: flex;
			gap: 0.25rem;
			justify-content: center;
			align-items: center;
			padding: 0.125rem 0.5rem;
			border-radius: 0.25rem;
			border: 1px solid var( --clr-on-surface-light-primary-8, rgba( 0, 0, 0, 0.08 ) );
		}

		&-icon {
			height: 1.5rem;
			width: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			margin-right: 0.75rem;
			transform-origin: center;
			transition: transform 0.2s linear;
		}
	}
}
