.team-participant-cards {
	display: grid;
	gap: 0.25rem;
	grid-template-columns: 1fr;

	@media ( min-width: 768px ) {
		gap: 0.625rem;
		grid-template-columns: repeat( 2, 1fr );
	}

	@media ( min-width: 1024px ) {
		grid-template-columns: repeat( 3, 1fr );
	}

	@media ( min-width: 1319px ) {
		grid-template-columns: repeat( 4, 1fr );
	}

	@media ( min-width: 1920px ) {
		grid-template-columns: repeat( 5, 1fr );
	}
}

.team-participant-card {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	justify-content: center;
	border-radius: 0.5rem;
	border: 1px solid;
	padding: 0.5rem 0;

	.theme--light & {
		background-color: var( --clr-secondary-100, rgba( 255, 255, 255, 1 ) );
		border-color: var( --clr-on-surface-light-primary-8, rgba( 0, 0, 0, 0.08 ) );
	}

	.theme--dark & {
		background-color: var( --clr-on-surface-dark-primary-4, rgba( 255, 255, 255, 0.04 ) );
		border-color: var( --clr-on-surface-dark-primary-8, rgba( 255, 255, 255, 0.08 ) );
	}

	&.is--collapsed {
		.team-participant-card-header-icon {
			transform: rotate( 180deg );
		}

		.team-participant-card-collapsible-content {
			display: none;
		}
	}

	&-header {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		align-self: stretch;
		padding: 0 0.5rem;
		cursor: pointer;

		&--expanded {
			flex-direction: column;
			position: relative;

			.team-participant-card-header-opponent {
				flex-direction: column;

				.team-template-image-icon {
					min-width: 56px;
					width: 56px;
					height: 56px;
					line-height: 56px;

					img {
						max-width: 50px;
						max-height: 50px;
					}
				}
			}

			.team-participant-card-header-icon {
				position: absolute;
				right: 8px;
				top: 50%;
				margin-top: -0.75rem; // Half of icon height
			}
		}

		&-opponent {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			flex: 1 0 0;
			font-weight: bold;
		}

		&-label {
			display: flex;
			gap: 0.25rem;
			justify-content: center;
			align-items: center;
			padding: 0.125rem 0.5rem;
			border-radius: 0.25rem;
			border: 1px solid;
			font-weight: bold;
			font-size: 0.6875rem;

			.theme--light & {
				border-color: var( --clr-on-surface-light-primary-8, rgba( 0, 0, 0, 0.08 ) );
				color: var( --clr-secondary-9 );
			}

			.theme--dark & {
				border-color: var( --clr-on-surface-dark-primary-8, rgba( 255, 255, 255, 0.08 ) );
				color: var( --clr-secondary-90, #e2e2e6 );
			}
		}

		&-icon {
			height: 1.5rem;
			width: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transform-origin: center;
			transition: transform 0.2s linear;

			.theme--light & {
				color: var( --clr-secondary-7, #121212 );
			}

			.theme--dark & {
				color: var( --clr-secondary-90, #e2e2e6 );
			}
		}
	}

	&-qualifier {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		align-self: stretch;
		border-radius: 0.25rem;
		padding: 0.25rem 0.5rem;

		.theme--light & {
			background-color: var( --clr-on-surface-light-primary-4, rgba( 0, 0, 0, 0.04 ) );
		}

		.theme--dark & {
			background-color: var( --clr-on-surface-dark-primary-4, rgba( 255, 255, 255, 0.04 ) );
		}

		&-details {
			display: flex;
			flex-direction: column;
			flex: 1 0 0;
			justify-content: center;
			align-items: flex-start;
			font-weight: bold;
		}
	}

	&-collapsible-content {
		padding: 0.5rem;
	}
}

$participant-icon-wrapper-size: 48px;
$participant-icon-wrapper-size-mobile: 36px;
$participant-icon-size: 40px;
$participant-icon-size-mobile: 32px;

@mixin responsive-participant-icon($wrapper-size, $icon-size, $wrapper-size-mobile, $icon-size-mobile) {
	min-width: $wrapper-size;
	width: $wrapper-size;
	height: $wrapper-size;
	line-height: $wrapper-size;
	text-align: center;

	@media ( max-width: 767px ) {
		width: $wrapper-size-mobile;
		height: $wrapper-size-mobile;
		line-height: $wrapper-size-mobile;
	}

	img {
		max-width: $icon-size;
		max-height: $icon-size;
		width: auto;
		height: auto;
		vertical-align: middle;

		@media ( max-width: 767px ) {
			max-width: $icon-size-mobile;
			max-height: $icon-size-mobile;
		}
	}
}

.team-participant-square-icon {
	.team-template-image-icon {
		@include responsive-participant-icon($participant-icon-wrapper-size, $participant-icon-size, $participant-icon-wrapper-size-mobile, $participant-icon-size-mobile);
	}

	.block-player {
		gap: 0.5rem;
		flex: 1 0 0;

		.flag {
			margin-right: 0;

			@include responsive-participant-icon($participant-icon-wrapper-size, $participant-icon-size, $participant-icon-wrapper-size-mobile, $participant-icon-size-mobile);
		}
	}
}
