.team-participant-cards {
	display: grid;
	gap: 0.625rem;
	grid-template-columns: 1fr;

	@media ( min-width: 768px ) {
		grid-template-columns: repeat( 2, 1fr );
	}

	@media ( min-width: 1024px ) {
		grid-template-columns: repeat( 3, 1fr );
	}

	@media ( min-width: 1319px ) {
		grid-template-columns: repeat( 4, 1fr );
	}

	@media ( min-width: 1920px ) {
		grid-template-columns: repeat( 5, 1fr );
	}
}

.team-participant-card {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	justify-content: center;
	border-radius: 0.5rem;
	border: 1px solid;
	padding: 0.5rem 0;

	.theme--light & {
		background-color: var( --clr-secondary-100, rgba( 255, 255, 255, 1 ) );
		border-color: var( --clr-on-surface-light-primary-8, rgba( 0, 0, 0, 0.08 ) );
	}

	.theme--dark & {
		background-color: var( --clr-on-surface-dark-primary-4, rgba( 255, 255, 255, 0.04 ) );
		border-color: var( --clr-on-surface-dark-primary-8, rgba( 255, 255, 255, 0.08 ) );
	}

	&.is--collapsed {
		.team-participant-card-header-icon {
			transform: rotate( 180deg );
		}

		.team-participant-card-collapsible-content {
			display: none;
		}
	}

	&-header {
		display: flex;
		gap: 0.25rem;
		align-items: center;
		align-self: stretch;
		padding: 0 0.5rem;
		cursor: pointer;

		&-opponent {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			flex: 1 0 0;
			font-weight: bold;
		}

		&-label {
			display: flex;
			gap: 0.25rem;
			justify-content: center;
			align-items: center;
			padding: 0.125rem 0.5rem;
			border-radius: 0.25rem;
			border: 1px solid;
			font-weight: bold;
			font-size: 0.6875rem;

			.theme--light & {
				border-color: var( --clr-on-surface-light-primary-8, rgba( 0, 0, 0, 0.08 ) );
				color: var( --clr-secondary-9 );
			}

			.theme--dark & {
				border-color: var( --clr-on-surface-dark-primary-8, rgba( 255, 255, 255, 0.08 ) );
				color: var( --clr-secondary-90, #e2e2e6 );
			}
		}

		&-icon {
			height: 1.5rem;
			width: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transform-origin: center;
			transition: transform 0.2s linear;

			.theme--light & {
				color: var( --clr-secondary-7, #121212 );
			}

			.theme--dark & {
				color: var( --clr-secondary-90, #e2e2e6 );
			}
		}
	}

	&-collapsible-content {
		padding: 0.5rem;
	}
}
/* Square participant icons */
.team-participant-square-icon .team-template-image-icon {
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;

	@media ( max-width: 767px ) {
		width: 36px;
		height: 36px;
		line-height: 36px;
	}

	img {
		max-width: 40px;
		max-height: 40px;
		width: auto;
		height: auto;
		vertical-align: middle;

		@media ( max-width: 767px ) {
			max-width: 32px;
			max-height: 32px;
		}
	}
}
