$participant-icon-wrapper-size: 48px;
$participant-icon-wrapper-size-mobile: 36px;
$participant-icon-size: 40px;
$participant-icon-size-mobile: 32px;

$compact-selector: '[data-switch-group-container="team-cards-compact"]';

@mixin responsive-participant-icon(
	$wrapper-size,
	$icon-size,
	$wrapper-size-mobile,
	$icon-size-mobile
) {
	width: $wrapper-size;
	height: $wrapper-size;
	text-align: center;
	line-height: $wrapper-size;

	@media ( max-width: 767px ) {
		width: $wrapper-size-mobile;
		height: $wrapper-size-mobile;
		line-height: $wrapper-size-mobile;
	}

	img {
		max-width: $icon-size;
		max-height: $icon-size;
		width: auto;
		height: auto;
		vertical-align: middle;

		@media ( max-width: 767px ) {
			max-width: $icon-size-mobile;
			max-height: $icon-size-mobile;
		}
	}
}

#{ $compact-selector } {
	.switch-toggle-container {
		display: none;

		@media ( min-width: 1024px ) {
			display: flex;
		}
	}
}

.team-participant-cards {
	display: grid;
	gap: 0.25rem;
	grid-template-columns: repeat( auto-fit, minmax( 280px, 1fr ) );
}

.team-participant-card {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	justify-content: center;
	align-self: start;
	border-radius: 0.5rem;
	border: 1px solid;
	padding: 0.5rem 0;
	overflow: hidden;

	.theme--light & {
		background-color: var( --clr-secondary-100 );
		border-color: var( --clr-on-surface-light-primary-8 );
	}

	.theme--dark & {
		background-color: var( --clr-on-surface-dark-primary-4 );
		border-color: var( --clr-on-surface-dark-primary-8 );
	}

	&-square-icon {
		.team-template-image-icon {
			@include responsive-participant-icon(
				$participant-icon-wrapper-size,
				$participant-icon-size,
				$participant-icon-wrapper-size-mobile,
				$participant-icon-size-mobile
			);
		}
	}

	&-header {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		align-self: stretch;
		padding: 0 0.5rem;
		cursor: pointer;

		&__main {
			display: contents;
		}

		&-opponent {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			flex: 1 0 0;
			font-weight: bold;
			min-width: 0;
		}

		&-label {
			padding: 0.125rem 0.5rem;
			border-radius: 0.25rem;
			border: 1px solid;
			font-weight: bold;
			font-size: 0.6875rem;

			.theme--light & {
				border-color: var( --clr-on-surface-light-primary-8 );
				color: var( --clr-secondary-9 );
			}

			.theme--dark & {
				border-color: var( --clr-on-surface-dark-primary-8 );
				color: var( --clr-secondary-90 );
			}
		}

		.general-collapsible-default-toggle {
			min-width: unset;
		}

		.general-collapsible-expand-button,
		.general-apsible-collapse-button {
			outline: unset;

			.theme--light & {
				color: var( --clr-secondary-7 );
			}

			.theme--dark & {
				color: var( --clr-secondary-90 );
			}
		}
	}

	&-qualifier--header {
		display: none;
	}

	@media ( min-width: 1024px ) {
		&-header {
			position: relative;
			flex-direction: column;
			width: 100%;

			&__main {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;
				width: 100%;
			}

			.general-collapsible-default-toggle {
				position: absolute;
				top: 50%;
				right: 0.5rem;
				transform: translateY( -50% );
			}

			&-opponent {
				flex-direction: column;
				gap: 0.25rem;

				.team-template-text {
					font-size: 1.125rem;
				}
			}
		}

		&-square-icon {
			.team-template-image-icon {
				width: 56px;
				height: 56px;
				line-height: 56px;

				img {
					max-width: 48px;
					max-height: 48px;
				}
			}
		}

		&-qualifier {
			display: flex;
			gap: 0.25rem;
			align-items: center;
			border-radius: 0.25rem;
			padding: 0.25rem 0.5rem;
			margin: 0.25rem 0.5rem;

			.theme--light & {
				background-color: var( --clr-on-surface-light-primary-4 );
			}

			.theme--dark & {
				background-color: var( --clr-on-surface-dark-primary-4 );
			}

			&-details {
				display: flex;
				flex-direction: column;
				font-weight: bold;
				font-size: 12px;
			}
		}

		&-qualifier--header {
			display: flex;
		}

		&-qualifier--content {
			display: none;
		}

		#{ $compact-selector }:has(.switch-toggle-active) & {
			&-header {
				position: static;
				flex-direction: row;
				width: auto;

				&__main {
					display: contents;
				}

				.general-collapsible-default-toggle {
					position: static;
					top: initial;
					right: initial;
					transform: none;
				}

				&-opponent {
					flex-direction: row;
					gap: 0.5rem;

					.team-template-text {
						font-size: initial;
					}
				}
			}

			&-square-icon {
				.team-template-image-icon {
					width: 48px;
					height: 48px;
					line-height: 48px;

					img {
						max-width: 40px;
						max-height: 40px;
					}
				}
			}

			&-qualifier--header {
				display: none;
			}

			&-qualifier--content {
				display: flex;
			}
		}
	}
}
