/*******************************************************************************
Template(s): Techtrees
Author(s): FO-nTTaX, based on http://thecodeplayer.com/walkthrough/css3-family-tree
*******************************************************************************/
.techtree ul {
	line-height: 0 !important;
	margin: 0 !important;
}

.techtree ul {
	padding-top: 20px;
	position: relative;
}

.techtree li {
	float: left;
	text-align: center;
	list-style-type: none !important;
	list-style-image: none !important;
	position: relative;
	padding: 20px 5px 0 5px;
}

.techtree li::before,
.techtree li::after {
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #aaaaaa;
	width: 50%;
	height: 20px;
}

.techtree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #aaaaaa;
}

.techtree li:only-child::after,
.techtree li:only-child::before {
	display: none;
}

.techtree li:first-child::before,
.techtree li:last-child::after {
	border: 0 none;
}

.techtree li:last-child::before {
	border-right: 1px solid #aaaaaa;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.techtree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.techtree ul ul::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #aaaaaa;
	width: 0;
	height: 20px;
}

.techtree li span {
	text-decoration: none;
	display: inline-block;
}

.techtree ul.techtreeonechild::before {
	height: 40px;
}

.techtreename a {
	color: #cccccc;
}

.techtree-building {
	display: table;
	background-color: #000000;
	border: 1px solid #aaaaaa;
	border-radius: 7px;
	padding: 2px;
}

.techtree-building .techtreename {
	display: table-cell;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}
