/*******************************************************************************
Template(s): Techtrees
Author(s): FO-nTTaX, based on http://thecodeplayer.com/walkthrough/css3-family-tree
*******************************************************************************/
.techtree ul {
	line-height: 0 !important;
	margin: 0 !important;
	padding-top: 20px;
	position: relative;

	ul::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		border-left: 1px solid #aaaaaa;
		width: 0;
		height: 20px;
	}
}

.techtree li {
	float: left;
	text-align: center;
	list-style-type: none !important;
	list-style-image: none !important;
	position: relative;
	padding: 20px 5px 0 5px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 50%;
		border-top: 1px solid #aaaaaa;
		width: 50%;
		height: 20px;
	}

	&::after {
		right: auto;
		left: 50%;
		border-left: 1px solid #aaaaaa;
	}

	&:only-child::after,
	&:only-child::before {
		display: none;
	}

	&:first-child::before,
	&:last-child::after {
		border: 0 none;
	}

	&:last-child::before {
		border-right: 1px solid #aaaaaa;
		border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		-moz-border-radius: 0 5px 0 0;
	}

	&:first-child::after {
		border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
	}

	span {
		text-decoration: none;
		display: inline-block;
	}
}

.techtree ul.techtreeonechild::before {
	height: 40px;
}

.techtreename a {
	color: #cccccc;
}

.techtree-building {
	display: table;
	background-color: #000000;
	border: 1px solid #aaaaaa;
	border-radius: 7px;
	padding: 2px;

	.techtreename {
		display: table-cell;
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		vertical-align: middle;
		white-space: nowrap;
	}
}

/*******************************************************************************
Template(s): Techtree on stormgate wiki
Author(s): sentihs, hjpalpha
*******************************************************************************/
.sg-techtree,
.sg-techtree :not( .sg-techtree-building ) {
	padding: 0;
	margin: 0;
	height: 100%;
}

.sg-techtree-building {
	width: 200px;
	text-align: center;
	font-size: 0.875rem;

	.sg-techtree & > tbody > tr > th,
	.sg-techtree & > tbody > tr > td {
		padding: 4px;
	}
}

.sg-techtree-left-branch {
	width: 24px;

	.sg-techtree & > tbody > tr,
	.sg-techtree & > tbody > tr > td {
		height: 50%;
	}

	> tbody > tr > td {
		width: 24px;
		vertical-align: bottom;
		text-align: center;
	}

	&-one-child-border {
		border-top: 1px dashed;
	}

	&-first-child-border {
		border-left: 1px dashed;
		border-top: 1px dashed;
	}

	&-last-child-border {
		border-left: 1px dashed;
		border-bottom: 1px dashed;
	}

	&-middle-child-border-top {
		border-left: 1px dashed;
	}

	&-middle-child-border-bottom {
		border-left: 1px dashed;
		border-top: 1px dashed;
	}
}

.sg-techtree-right-branch {
	padding: 0;
	margin: 0;

	.sg-techtree & > tbody > tr,
	.sg-techtree & > tbody > tr > td {
		height: 50%;
		width: 24px;
	}

	&-div-border {
		border-top: 1px dashed;
	}
}
