/*
 This file is only used for testing purpose and have no impact on actual production.
 The equivalent to this file on production is Special:RLA, and should be kept in sync with it.
*/

@use "commons/RankingTable";
@use "commons/Ambox";
@use "commons/AutomaticPointsTable";
@use "commons/BattleRoyale/NavigationContent";
@use "commons/BattleRoyale/NavigationTabs";
@use "commons/BattleRoyale/Panel";
@use "commons/BattleRoyale/PanelTable";
@use "commons/Bracket";
@use "commons/Brackets";
@use "commons/BreadCrumbs";
@use "commons/Carousel";
@use "commons/Colours";
@use "commons/Crosstable";
@use "commons/DivTable";
@use "commons/Dropdown";
@use "commons/FilterButtons";
@use "commons/Fountain";
@use "commons/Grid";
@use "commons/GroupTableLeague";
@use "commons/Headings";
@use "commons/Icons";
@use "commons/Images";
@use "commons/Infobox";
@use "commons/Jquery";
@use "commons/Dialog";
@use "commons/Label";
@use "commons/Legend";
@use "commons/Mainpage";
@use "commons/Matchseries";
@use "commons/MatchTable";
@use "commons/NavigationCard";
@use "commons/LiquipediaLinks";
@use "commons/Timeline";
@use "commons/SpellCard";
@use "commons/Miscellaneous";
@use "commons/BigMatch";
@use "commons/BootstrapVisibility";
@use "commons/DeckList";
@use "commons/Faction";
@use "commons/HexagonPortraits";
@use "commons/ResponsiveTable";
@use "commons/TeamPortal";
@use "commons/TournamentCard";
@use "commons/NavFrame";
@use "commons/Navbox";
@use "commons/OpponentList";
@use "commons/Panels";
@use "commons/Placement";
@use "commons/Prizepooltable";
@use "commons/Quote";
@use "commons/Selectall";
@use "commons/Statisticstable";
@use "commons/Standings";
@use "commons/Table2";
@use "commons/Tables";
@use "commons/Tabs";
@use "commons/TeamParticipantCard";
@use "commons/TeamTemplates";
@use "commons/PanelBox/Heroes";
@use "commons/Banner";
@use "commons/Teamcard";
@use "commons/Techtree";
@use "commons/TournamentTags";
@use "commons/Match";
@use "commons/MatchTicker";
@use "commons/Slider";
@use "commons/SwitchButtons";

/* Very basic styling, so that things look a bit more realistic */
body {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #212529;
	text-align: left;

	/* Wiki-like top padding */
	padding: calc( 3.125rem + 2.25rem ) 0 0 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}

/* Styles that are not yet part of this repository, but used in snapshot tests */
:root {
	--clr-moon-40: #666666;

	--clr-primary-44: #1f73c1;
	--clr-primary-100: #ffffff;

	--clr-secondary-25: #404040;
	--clr-secondary-80: #b3b3b3;
	--clr-secondary-100: #ffffff;

	--clr-semantic-gold-20: #665400;
	--clr-semantic-gold-40: #ccab00;
	--clr-semantic-gold-90: #fff5cc;

	--clr-semantic-silver-40: #557177;

	--clr-semantic-positive-30: #1d7c1d;
	--clr-semantic-negative-40: #b81414;

	--clr-on-surface-light-primary-4: rgba( 0, 0, 0, 0.04 );
	--clr-on-surface-light-primary-8: rgba( 0, 0, 0, 0.08 );
	--clr-on-surface-light-primary-12: rgba( 0, 0, 0, 0.12 );

	--clr-wiki-primary-container: #e2e2e6;
	--clr-wiki-theme-primary: var( --clr-moon-40 );
}

.wiki-backgroundcolor-light {
	background-color: var( --clr-wiki-primary-container );
}

.d-none {
	display: none !important;
}

a {
	text-decoration: none;
	color: var( --clr-primary );
	background-color: transparent;
}

img {
	vertical-align: middle;
	border-style: unset;
}

.main-container .main-content-column {
	position: relative;
	overflow-x: hidden;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

pre {
	border: 1px solid #adb5bd;
	page-break-inside: avoid;
	font-family: "Source Code Pro", monospace;
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
	background-color: #f8f9fa;
	white-space: pre-wrap;
	overflow-x: hidden;
	word-wrap: break-word;
}
