.heroes-panel {
	&__heading {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		&-title {
			font-weight: bold;
			display: inline-flex;

			&__number {
				font-weight: normal;
				margin-left: 0.5rem;
			}
		}

		ul&-links {
			margin: 0 0 0 auto;
			list-style: none;
			display: inline-flex;

			> li:not( :first-child ) {
				margin-left: 1.375rem;

				> a {
					&::before {
						content: '';
						width: 0.125rem;
						height: 0.125rem;
						background-color: #000;
						border-radius: 100%;
						display: block;
					}
				}
			}
		}
	}

	&__filter {
		&-group {}

		&-button {
			min-height: 2rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 0.75rem;
			border-radius: 0.5rem;
			font-size: 0.875rem;
			font-weight: bold;
			color: var( --clr-wiki-theme-primary );
			position: relative;
			z-index: 0;
			cursor: pointer;
			margin-right: 0.5rem;

			&::after {
				content: '';
				background-color: var( --clr-wiki-theme-primary );
				opacity: 0.12;
				position: absolute;
				inset: 0;
				z-index: -1;
				border-radius: 0.5rem;
			}

			@media ( hover: hover ) {
				&:hover {
					&::after {
						opacity: 0.24;
					}
				}
			}

			&.is--active {
				background-color: var( --clr-wiki-theme-primary );
				color: #fff;
			}

			> .icon-left {
				margin-right: 0.25rem;
			}
		}
	}

	&__category {
		&.category--strength {}
		&.category--agility {}
		&.category--intelligence {}
		&.category--universal {}
		&.category--upcoming {}

		&-title {
			display: flex;
			justify-content: center;
			border-bottom: 0.5rem solid;

			.category--strength & {
				border-bottom-color: var( --clr-california-40 );
			}
		}

		ul&-list {
			display: grid;
			grid-template-columns: repeat( 9, 1fr );
			gap: 0.5rem;
			margin: 0;
			list-style: none;

			> li {
				padding: 0;
				border: 0.125rem solid rgba( 0, 0, 0, 0.7 );
				border-radius: 0.25rem;
				overflow: hidden;
			}

			&__title {
				color: #fff;
				box-shadow: 0 0.0625rem 0.0625rem 0 rgba( 0, 0, 0, 1 ), 0 0 0.125rem 0 rgba( 0, 0, 0, 1 );
			}
		}
	}
}
