name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    name: LP Wikis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - id: changed-files
        uses: tj-actions/changed-files@v29
        with:
          files: |
            components/**/*.lua
            standard/**/*.lua

      - name: Deploy
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          WIKI_USER: ${{ secrets.LP_USER }}
          WIKI_PASSWORD: ${{ secrets.LP_PASSWORD }}
          WIKI_UA_EMAIL: ${{ secrets.LP_UA_EMAIL }}
          WIKI_BASE_URL: ${{ secrets.LP_BASE_URL }}
        run: bash deploy.sh "${{ steps.changed-files.outputs.all_changed_files }}"

  dev-deploy:
    name: Dev Wikis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - id: changed-files
        uses: tj-actions/changed-files@v29
        with:
          files: |
            components/**/*.lua
            standard/**/*.lua

      - name: Deploy
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          WIKI_USER: ${{ secrets.DEV_WIKI_USER }}
          WIKI_PASSWORD: ${{ secrets.DEV_WIKI_PASSWORD }}
          WIKI_UA_EMAIL: ${{ secrets.DEV_WIKI_UA_EMAIL }}
          WIKI_BASE_URL: ${{ secrets.DEV_WIKI_BASE_URL }}
          DEV_WIKI_BASIC_AUTH: ${{ secrets.DEV_WIKI_BASIC_AUTH }}
        run: bash deploy.sh "${{ steps.changed-files.outputs.all_changed_files }}"
