name: Personal Deploy

on:
  workflow_dispatch:
    inputs:
      luadevenv:
        description: 'Lua Dev Enviroment name'
        required: true

jobs:
  deploy:
    name: Live Wikis Personal
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: younited/detect-branch-changes-action@v0.2.0
        id: forkpoint

      - id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          base_sha: ${{ steps.forkpoint.outputs.fork_point_sha }}
          files: |
            lua/wikis/**/*.lua

      - name: Setup Python
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'


      - name: Install Python Dependency
        if: steps.changed-files.outputs.any_changed == 'true'
        run: pip install requests

      - name: Personal Lua Deploy
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          WIKI_USER: ${{ secrets.LP_BOTUSER }}
          WIKI_PASSWORD: ${{ secrets.LP_BOTPASSWORD }}
          WIKI_UA_EMAIL: ${{ secrets.LP_UA_EMAIL }}
          WIKI_BASE_URL: ${{ secrets.LP_BASE_URL }}
          LUA_DEV_ENV_NAME: "/dev/${{ github.event.inputs.luadevenv }}"
          PYTHONUNBUFFERED: 1
        run: python3 ./scripts/deploy.py ${{ steps.changed-files.outputs.all_changed_files }}
