name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - id: changed-files
        uses: tj-actions/changed-files@v29
        with:
          files: |
            components/**/*.lua
            standard/**/*.lua

      - name: Deploy
        env:
          LP_USER: ${{ secrets.LP_USER }}
          LP_PASSWORD: ${{ secrets.LP_PASSWORD }}
          LP_UA_EMAIL: ${{ secrets.LP_UA_EMAIL }}
        run: bash deploy.sh ${{ steps.changed-files.outputs.all_changed_files }}
