name: Update Visual Snapshots

on: [pull_request]

jobs:
  update-snapshots:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.0-noble

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          # Support runs of this action in forks
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Setup lua
        uses: Liquipedia/gh-actions-lua@803881da1a1e619ada27db3440a917e87e85aaa2
        with:
          luaVersion: '5.1'

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Setup luarocks
        uses: leafo/gh-actions-luarocks@v5

      - name: Setup dependencies
        run: |
          npm install
          luarocks install --lua-version=5.1 busted

      # Very slow (3mins) - can probably be made faster using http://github.com/microsoft/playwright/issues/23388
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Update snapshots
        run: npm run lua-test
        env:
          UPDATE_SNAPSHOTS: true

      - name: Commit and push if snapshots changed
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: update visual snapshots"
          file_pattern: 'lua/spec/snapshots/*.png'
          push_options: '--no-verify'
